
/*set attributes for consistent appearance in all browsers*/
div.wrapper html { margin:0; padding:0; 
}
div.wrapper { width: 61.25em; margin: 0 auto; padding: 0; 
}
/*FORMUL-ACCESS.CSS*/
/*reset browsers for cross-client consistency*/
html,body,h1,h2,h3,h4,h4,h5,h6,p {margin:0; padding:0 }
img {border-style: none;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
}
/*set images to have no borders*/
img { 	border:0;
}
/*add display attributes for the semantic tags*/
div#header, footer, section, article, nav { display:block; 
}
/*SET FONTS*/
span.small { font-size:small;
}
h1 { font-size:x-large; font-family:"times new roman"; text-align:center;
}
h2 {font-size:large; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT*/
body {margin:auto; width:60.625em; 
}
#header {
	width:60.625em;
}
nav { float:left; margin-left:0.625em; width:115px;
}
nav ul { margin-left:0; border:0; width:115px;
}

/*LAYOUT position content at horizontal centre of screen for IE and Mozilla*/
body {text-align:center; background-color:#D7FFEB; color:black; font-family: "times new roman"; max-width:1024px; min-width:800px;
font-size: medium; color: #000000; margin: auto; width:95%;}
/* set header height and background image */
#hdr{ margin-top:0; margin-bottom:0; background-position:45% top; background-image:url('images/compbkgcrop.jpg'); 
background-repeat:no-repeat; height:160px; padding-bottom:0	}
h1 {padding: 110px  0 0 12%; margin-bottom:0; font-family :"times new roman";  font-size: 250%; color: #0080a0;; font-weight:bold;}
#hdr {
	position:relative;
}
.search {
	position:absolute; top:10px; right:40px;
	height: 56px;
}
/*set far right column for ads*/
#rightcol { width:9.375em; float:right; text-align:center;	
}
#rightcol p.advert {font-size:small; margin-top:11.875em;
} 
/*set middle column for main content*/
#midcol { margin-left:8.4375em; margin-right:9.6875em;
}
/*set gallery block position*/ 
#gallery-block { position:relative; left: 1.875em; top:-28em; 
}
/*set footer*/
footer { 	clear:both; color:black; text-align:center; width:60.625em;
}
.clear { clear:both;
}
/*set menu buttons*/
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:6.875em;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:6.875em;
}
/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles */
#col-1	{ position: absolute; top: 0; left: 0; width:85px;
} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 16.25em; height:24.375em; position: absolute; top: 0.625em; left: 330px;
	visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-2	{ position: absolute; top: 0; left: 5.3125em; width:5.3125em; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 16.25em; height:24.375em;
	position: absolute; top: 0.625em; left: 15.3125em; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-3	{ position: absolute; top: 0; left: 10.9375em; width:95px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid {
	width: 16.25em; height:24.375em;
	position: absolute; top: 0.625em; left: 9.6875em; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white; 
}
#col-3 a:hover img.hid { visibility:visible; 
}