@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
/* Listing 2-6b provides the CSS presentation instructions for a 3 column gallery set in a real world page.
Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) */
/*set attributes for consistent appearance in all browsers*/
html, body, p, li, h1, h2 { margin:0; padding:0;
}
/*set images to have no borders*/
img {
border:0;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
/*SET FONTS*/
span.small { font-size:small;
}
h1 { font-size:x-large; font-family:"times new roman"; text-align:center;
}
h2 {font-size:large; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT*/
body {margin:auto; width:970px;
}
header {
}
nav { float:left; margin-left:10px; width:115px;
}
nav ul { margin-left:0; border:0; width:115px;
}
/*set far right column for ads*/
#rightcol { width:160px; float:right; text-align:center;
}
#rightcol p.advert {font-size:small; margin-top:190px;
}
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
#gallery-block { position:relative; left: 30px; top:10px;
}
/*set footer*/
footer { clear:both; color:black; text-align:center;
}
.clear { clear:both;
}
/* 51CHAPTER 2 ■ A ROLLOVER PICTURE GALLERY */
/*set menu buttons*/
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px; margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/
/* Set general thumbnail styles */
#col-1 { position: absolute; top: 0; left: 0; width:85px;
}
/*place the first column on the page*/
li { margin: 5px; list-style-type:none;
}
/*remove bullets from the un-ordered list elements and create the 
MouseOut state (default) - create and position a space for the larger images and 
hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px; visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible;
}
/*----------------------------------------------------*/
/* set 2nd column of thumbnails 85px further over to right*/
#col-2 { position: absolute; top: 0; left: 85px; width:85px;
}
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 245px; margin-left:0;visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }
/*----------------------------------------------------*/
/* set 3rd column of thumbnails 170px further over to right*/
#col-3 { position: absolute; top: 0; left: 175px; width:95px; }
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 155px; margin-left:0; visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white;
}
#col-3 a:hover img.hid { visibility:visible;
}
/* Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) */
/*set attributes for consistent appearance in all browsers*
html, body, p, ul, li, h1, h2 { margin:0; padding:0;
}

#kite { width: 960px; height: 500px;}
#paper { width: 960px;}
#take-off { width: 960px;}
#paper { width: 960px;}
#waves { width: 960px;}
#plane { width: 930px;}
set images to have no borders*/
img {
border:0;
}
/*
body { background:#FFF url(images/green-grad.jpg) repeat-x; margin:auto;
}
*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
/*remove the # from #header*/
header#gallerypageheader.data {width:95%; height:180px; padding:0; border:10px white solid; background: url(../../orris0/bda-20.jpg); margin:10px auto; background-position: bottom; /* Adjust as needed */
  background-repeat: no-repeat; margin: 10px auto;
}
h1#gallerypage-h1 { font-size:300%; color :white; /* position: relative; left:90px; top: 15px; width:5500px; */
}
 
div#rosette { position:relative; left:750px; top:5px;
}
div#gallerypagecontent { background-color:transparent; border-left:10px white solid; border-right:10px white solid; border-bottom:10px white solid; width: 904px; margin-top: -10px; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon;
}
h2#gallerypage-h2 { font-size:x-large; color:white; margin:0 0 10px 0;
}
h3#gallerypage-h3 { font-size:large; color:white; margin:0 0 6px 0; padding: 2%;
}
div#gallerypageleftcol { float:left; width: 310px; vertical-align:top;
}
div#gallerypagerightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
div#gallerypagemidcol { margin-left:315px; margin-right:145px; margin-top:10px; 
vertical-align:top;
}
/*set nav block position and width and remove the #menu item*/
nav#gallerypagenav ul { margin:10px 0 10px 0; width:135px; float:right;
}
/*Set un-ordered list style within the menu block only. This removes bullets*/
nav#gallerypagenav  li { list-style-type:none;
}
/* set general side button styles */
li.btn { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*/
li.btn a { display: block; color: white; font-weight: bold; 
text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
li.btn a { background:#559a55; color: white; border: 5px outset #559a55; 
padding-bottom:3px;
}
/* mouseover */
li.btn a:hover { background: red; color:white; border: 5px outset red;
}

/*mouse active*/
li.btn a:active { background:maroon; border: 5px inset maroon;
}
br.clear { clear:both;
}
div#html5style2midcol img { margin-left: 0px;
}
/*change #footer to footer */
footer { clear:both; color:maroon; text-align:center;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
/*SET FONTS*/
span.small { font-size:small;
}
/*
h1 { font-size:x-large; font-family:"times new roman"; text-align:center;
}
h2 {font-size:large; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT
body {margin:auto; width:970px;
}
*/
header#gallerypageheader.data { width:970px;
}
nav#gallerypagenav.data { float:left; margin-left:10px; width:115px;
}
header#gallerypageheader.data ul { margin-left:0; border:0; width:115px;
}
/*set far right column for ads*/
div#gallerypagerightcol { width: 12em; float:right; text-align:center;
}
div#gallerypagerightcol p.advert {font-size:small; margin-top:190px;
}
/*set middle column for main content*/
div#gallerypagemidcol.data { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
div#gallerypagegallery-block.data { position:relative; left: 90px; top: 30px;
}
/*set footer*/
footer { clear:both; color:black; text-align:center;
}
.clear { clear:both;
}
/*set menu buttons*/
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px; margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/
/* Set general thumbnail styles */
#col-1 { position: absolute; top: 0; left: 0; width:85px;
}
/*place the first column on the page*/
li { margin: 5px; list-style-type:none;
}
/*remove bullets from the un-ordered list elements and create the 
MouseOut state (default) - create and position a space for the larger images and 
hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px; visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible;
}
/*----------------------------------------------------*/
/* set 2nd column of thumbnails 85px further over to right*/
#col-2 { position: absolute; top: 0; left: 85px; width:85px;
}
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 245px; margin-left:0;visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }
/*----------------------------------------------------*/
/* set 3rd column of thumbnails 170px further over to right*/
#col-3 { position: absolute; top: 0; left: 175px; width:95px; }
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 155px; margin-left:0; visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white;
}
#col-3 a:hover img.hid { visibility:visible;
}
/* Listing 2-6c. Conditional CSS for Listing 2-6a to Support Browser IE 7 (gallery-ie7.css)
set the gallery block 10px further to the right
*/






/*set attributes for consistent appearance in all browsers*/
div.wrapper { 
    position: relative;
    top:  3.5em;
    left: 0%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0 !important;
    border-width: 10px;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin-top: -54px;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    width: 975px;
    background: #58a linear-gradient(#FF9966, #58a);

    clip-path:polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px), 0 20px);
}
/*
div.wrapper {
    position: relative; 
    top: 4.5em; 
    left: 0; 
    width: 77em; 
    margin: auto;
    background:#FFF url(images/green-grad.jpg) repeat-x!important;
    color: #333;
}
*
div#gallerpageheader {width: 74.5%; height:180px; padding:0; border:10px white solid;background-color: #FFCC00;background:url(images/header3.jpg); margin: 10px auto;
}
h1 { font-size:100%; font-weight:bold; margin-top:20px;
}
div#gallerpagemain-content {width:950px; margin:50px auto 0 auto; background-color:white;
color:black; text-align:center; font-weight:bold;
}
footer {margin:10px auto 0 auto; width:950px; font-weight:bold;
text-align:center; background-color:#FFCC00; color:black; clear:both;
} 
/*set images to have no borders*
img { 	border:0;
}
/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block; 
}
/*SET FONTS*
span.small { font-size:small;
}
h2 {font-size:large; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT*
/*equalise all the margins, paddings and borders built into various browsers*
div body header #content { margin:0; padding:0; border:0; 
}
body { background:#FFF url(images/green-grad.jpg) repeat-x; margin:auto;
}
/* Listing 8-5b. The CSS Style Sheet for Listing 8-5a (css3-text-shadow.css) *
body {background-color:#99CCFF;
}
#banner h1 { color: #fff; 
  padding: 50px 0 0 20px; 
  margin: -.4em; 
  font-size: 125%; 
text-shadow: 0.1em 0.1em 0.2em black;
}
header {
	width: 74.5%;
}
div#container.data {width: 105%; margin:-6% auto 0 auto;
}
div#inlineblockcontainer.data
.nav { float:left; margin-left:10px; width:129px;
}
.nav#gallerpagenav ul { margin-left:0; border:0; width:115px;
}
.nav#gallerpagenav {
	color: red
	}
	 nav {
	display: block;
	background-color: transparent;
	}
/*set far right column for ads*
div#gallerpagerightcol { width:150px; float:right; text-align:center;	
}
div#gallerpagerightcol p.advert {font-size:small; margin-top:190px;
} 
/*set middle column for main content*
div#gallerpagemidcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*
div#gallerpagegallery-block { position:relative; left: 30px; top:10px; 
}
/*set footer*
footer { 	clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}
/*set menu buttons*
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles *
#col-1	{ position: absolute; top: 0; left: 0; width:85px;
} 
/*place the column on the page*
li	{ margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px;
	visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture *
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*
#col-2	{ position: absolute; top: 0; left: 85px; width:85px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture *
#col-2 a img.hid { width: 260px; height:390px;
	position: absolute; top: 10px; left: 245px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture *
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*
#col-3	{ position: absolute; top: 0; left: 175px; width:95px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture *
#col-3 a img.hid {
	width: 260px; height:390px;
	position: absolute; top: 10px; left: 155px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture *
#col-3a:hover { background: white; 
}
#col-3 a:hover img.hid { visibility:visible; 
}
/* Listing 4-1b. Applying the display:inline-block; Style to the Second Row of Buttons (inline-block.css) - Set styles to equalise the browser rendition*
html, h1, h2, h3, h4, h5, p, ol, ul, li { padding: 0; margin: 0;
}
/* **************************************************************************** */

/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block; 
}
header#gallerypageheader.data {width:970px; height:180px; padding:0; border:10px white solid; 
  background: url(../bda-20.jpg); margin:10px auto; 
}
/*
h1 { font-size:300%; color :white; position: relative; left:90px; top: 55px; width:480px; 
}
*
#rosette { position:relative; left:750px; top:5px; }


#content { background-color:transparent; border-left:10px white solid; border-right:10px white solid; 
border-bottom:10px white solid; width: 904px; margin-top:-10px; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon; 
}
h2 { font-size: 150%; color: #d9480f; margin:0 0 10px 0; 
}
h3 { font-size: 110%; color:white; margin:0 0 6px 0; 
}
#leftcol { float:left; width: 310px; vertical-align:top; 
}
#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
#midcol { 	margin-left:315px; margin-right:145px; margin-top:10px; vertical-align:top; 
}
/* set side menu block position and width*
nav { margin:10px 30px 0 10px; width:135px; float:right; 
}
/*Set list style within the menu block only. This removes bullets*
nav li { list-style-type:none; 
}	
/* set general side button styles *
nav li { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*
nav li a { display: block; color: white; font-weight: bold; text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) *
nav li a { background:#559a55; color: white; border: 5px outset #559a55; padding-bottom:3px;
}
/* mouseover *
nav li a:hover { background: red;  color:white; border: 5px outset red;
}
/*mouse active*
nav li a:active { background:maroon;  border: 5px inset maroon; 
}
br.clear { 	clear:both; 
}
#midcol img { margin-left:10px; 
}
footer { clear:both; color:maroon; text-align:center; 
}
wrapper#horizonequal2dwrapper.data > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    /* background-color: #ffd8a8; *
    padding: 1em;
    color: #d9480f;
}
wrapper#horizontalequal2dwrapper.data {
    display: grid;
   /*  grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    height: 500px;
    width: 500px;
    gap: 10px; *
}
div#inlineblockcontainer.data {
    margin:auto; 
    text-align:center; 
    width:97%; 
    min-width:800px; 
    max-width:1200px;
}
section#html5style2section {
    display: block
}
header#html5style2header {
    display: block;
}
/*remove the # from #header*/
header#html5style2header {
    width: 920px;
    height: 180px;
    border: 10px white solid;
    padding: 10px;
    background-image: url("./bda-20.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 10px auto;
}
#rosette {
  position: relative;
  left: 750px;
  top: 5px;
}

div#html5style2content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}
div#html5style2leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}
div#html5style2rightcol { 
    width: 135px; 
    float:right; height: 252px; margin-right:10px;
}
div#html5style2midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 10px;
  vertical-align: top;
}

/*set nav block position and width*
nav#html5style2Nav { margin:10px 0 10px; width:135px; float:right; 
}
nav#html5style2Nav ul {
  margin: -240px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*
nav#html5style2Nav li {
  list-style-type: none;
}

/* set general side button styles *
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}
/* specify mouse state styles */
/* mouseout (default) *
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}
/* mouseover *
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}
/*mouse active*
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}
br.clear {
  clear: both;
}
div#html5style2#midcol img {
  margin-left: 10px;
}
div#html5style2footer {
  clear: both;
  color: maroon;
  text-align: center;
}
/* end of style equalisation *
p { background:rgba(255, 255, 255, .1);  margin-right: 40px; color: white; text-align:center;
}
a { background: orange; color:navy;
}
.inline-block a { display:inline-block; width:110px; height:30px; line-height:30px; text-align:center;
}

/*Listing 4-2b. Styling Equal-width Buttons with Rollover Color Change (equal-2d.css) */
/* Set styles to equalise browser renditions*


/* FÁa better result was achieved by using a different outset color, as follows (also see Figure 4-4): */ 
/*mouseout state (see Figure 4-4)* 
li.hbtn a { background: #0080a0; border: 4px outset #aabaff; }


/* Listing 4-7b. The CSS Listing for Changing the Tab for the five Tab Menu Pages (squaretabs.css) *

div#container.data {width: 105%; margin:-6% auto 0 auto;
}
/* use display:inline to remove IE6 double margin bug*
nav li { display: inline; overflow: hidden; list-style-type: none;
}
/*
div#container.data { width:97%; margin:auto; min-width:800px; max-width:1100px; clip-path:polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px), 0 20px);
}
/*mouseout state (see Figure 4-4)*
li.hbtn a { background: #0080a0; border: 4px outset #aabaff; }

/* TABLE ELEMENTS *
table { border-spacing:2px; border-collapse:separate;
 margin-top:0; margin-bottom:0; text-indent:0; }
caption { text-align:center; }
td { padding:1px; }
th { font-weight:bold; padding:1px; }
tbody, thead, tfoot { vertical-align:middle; }
/* INLINE ELEMENTS *
strong { font-weight:bold; }
cite, em, var, dfn { font-style:italic; }
code, kbd, samp { font-family:monospace; }
ins { text-decoration:underline; }
del { text-decoration:line-through; }
sub { vertical-align:-0.25em; font-size:smaller; line-height:normal; }
sup { vertical-align: 0.5em; font-size:smaller; line-height:normal; }
abbr[title] { border-bottom:dotted 1px; }
/* LIST ELEMENTS *
ul { list-style-type:disc; margin:1em 0; margin-left:40px; padding-left:0;}
ol { list-style-type:decimal; margin:1em 0; margin-left:40px; padding-left:0;}
/* remove top & bottom margins for nested lists *
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl
{ margin-top:0; margin-bottom:0; }
/* use circle when ul nested 2 deep *
ol ul, ul ul { list-style-type:circle; }
/* use square when ul nested 3 deep *
ol ol ul, ol ul ul, ul ol ul, ul ul ul { list-style-type:square; } 



/* Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) */


/*set images to have no borders*
img {
    border: 0;
}

/*set the generic tab style--and move menu upwards so that it overlaps the header* 
div#hnav {
  position:relative; 
  top: -22.1em; 
  left: 3%;
  color: navy; margin: -25px 0 0 0; padding: 0px; padding-left: 3em; z-index: 1;
}
/* use display:inline to remove IE6 double margin bug*
#hnav li { display: inline; overflow: hidden; list-style-type: none;
}
/*set tab colour*
#hnav a, a.active { color: navy; background: #81d9f6; font: bold 1em Arial; border: 1px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none; }
/*make a 3px wide bottom border on tab the same colour as the page*
#hnav a.active { background: #cfecf5; color:navy; border-bottom: 3px solid #cfecf5;
}
/*hovering over a non-active tab shows an aqua tab*
#hnav a:hover { background: aqua;
}
#hnav a:visited { color: navy;
}
/*hovering over the active tab shows navy text*
#hnav a.active:hover { background: #cfecf5; color: navy;
}

div.picture {
width: 200px;
/* transform: rotate(45deg);* 
overflow: hidden;
}
div.picture > img {
max-width: 100%;
transform: rotate(-45deg); 
}

.parallel {
position: relative;
/* text color, paddings, etc. *
display: inline-block;
border-radius: .2em;
color: white;
text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
font-size: 80%;
line-height: 1.5;
border-width: 10px;
border-left-width: 0;
}
.parallel::before {
content: ''; /* To generate the box *
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -1;
background: maroon;
transform: skew(45deg);
}
.parallel>div {
transform: skewX(45deg);
}
/*set far right column for ads*
div#rightcol { position: relative; top: -23em; left: 1em; width:150px; float:right; text-align:center;
}
div#rightcol p.advert {font-size:small; margin-top:35px;
}
/*set middle column for main content*
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*
#gallery-block { position:relative; left: 30px; top:10px;
}

/*set footer*
footer {
    clear: both;
    color: black;
    text-align: center;
    width: 970px;
}

.clear {
    clear: both;
}

li.btn a:hover {
    background-color: blue;
    color: white;
}

li.btn {
    width: 110px;
}

/*SET THUMBNAIL GALLERY BLOCK*/
/* Set general thumbnail styles *
#col-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
}

/*place the first column on the page*
li {
    margin: 5px;
    list-style-type: none;
}

/*remove bullets from the un-ordered list elements and create the MouseOut state (default) - create and position a space for the larger images and hide them*
#col-1 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 330px;
    visibility: hidden;
}

/* MouseOver state (hover)- this reveals larger picture *
#col-1 a:hover {
    background: white;
}

#col-1 a:hover img.hid {
    visibility: visible;
}

/*----------------------------------------------------*/
/* set 2nd column of thumbnails 85px further over to right*
#col-2 {
    position: absolute;
    top: 0;
    left: 85px;
    width: 85px;
}

li {
    margin: 5px;
    list-style-type: none;
}

/* MouseOut state (default) - hide larger picture *
#col-2 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 245px;
    margin-left: 0;
    visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture *
#col-2 a:hover {
    background: white;
}

#col-2 a:hover img.hid {
    visibility: visible;
}

/*----------------------------------------------------*/
/* set 3rd column of thumbnails 170px further over to right*
#col-3 {
    position: absolute;
    top: 0;
    left: 175px;
    width: 95px;
}

li {
    margin: 5px;
    list-style-type: none;
}

/* MouseOut state (default) - hide larger picture *
#col-3 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 155px;
    margin-left: 0;
    visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture *
#col-3a:hover {
    background: white;
}

#col-3 a:hover img.hid {
    visibility: visible;
}

/*set the gallery block 10px further to the right*
#gallery-block {
    position: absolute;
    left: 160px;
    top: 300px;
}

/* end-css  */

/* Listing 4-12b. Providing the CSS Styling for all the Pages that Use the cssportal.com Menu (turquoise.css) *
br .clear {
    clear: both;
}

/* Listing 4-7b. The CSS Listing for Changing the Tab for the five Tab Menu Pages (squaretabs.css) */

/* use display:inline to remove IE6 double margin bug*
#hnav li { display: inline; overflow: hidden; list-style-type: none;
}
/*set tab colour*
div#hnav a, a.active { color: navy; background: #81d9f6; font: bold 1em Arial; border: 1px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none;
}
/*make a 3px wide bottom border on tab the same colour as the page*
div#hnav a.active { background: #cfecf5; color:navy; border-bottom: 3px solid #cfecf5;
}
/*hovering over a non-active tab shows an aqua tab*
div#hnav a:hover { background: aqua;
}
div#hnav a:visited { color: navy;
}
/*hovering over the active tab shows navy text*
div#hnav a.active:hover { background: #cfecf5; color: navy;
}
/* **************** one-col************************** */
/* Set general thumbnail styles *
#col-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
}

/*place the column on the page*
li {
	margin: 5px;
	list-style-type: none;
}

/*remove bullets from the list elements*
img {
	border: 0;
}

/*set images to have no borders*/

/* MouseOut state (default) - create and position a space for the larger images and hide them*
#onecol-1 a img.hid {
	width: 260px;
	height: 390px;
	position: absolute;
	top: 10px;
	left: 250px;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture *
#onecol-1 a:hover {
	background: white;
}

#onecol-1 a:hover img.hid {
	visibility: visible;
}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*
#onecol-2 {
	position: absolute;
	top: 0;
	left: 85px;
	width: 85px;
}

li {
	margin: 5px;
	list-style-type: none;
}

img {
	border: 0
}

/* MouseOut state (default) - hide larger picture *
#onecol-2 a img.hid {
	width: 260px;
	height: 390px;
	position: absolute;
	top: 10px;
	left: 165px;
	margin-left: 0;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture *
#onecol-2 a:hover {
	background: white;
}

#onecol-2 a:hover img.hid {
	visibility: visible;
}
*/
