/*set images to have no borders*/
img { 	border:0;
}
/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block; 
}
/*SET FONTS*
span.small { font-size:small;
}
h1 { font-size:x-large; font-family:"times new roman"; text-align:center;
}
h2 {font-size:large; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT*
body {margin:auto; width:970px; 
}
header {
	width:970px;
}
*/
div#inlineblockcontainer.data
.nav { float:left; margin-left:10px; width:129px;
}
.nav ul { margin-left:0; border:0; width:115px;
}
.nav {
	color: red
	}
	 nav {
	display: block;
	background-color: transparent;
	}
/*set far right column for ads*
#rightcol { width:150px; float:right; text-align:center;	
}
#rightcol p.advert {font-size:small; margin-top:190px;
} 
/*set middle column for main content*
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position* 
#gallery-block { position:relative; left: 30px; top:10px; 
}
/*set footer*
footer { 	clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}
/*set menu buttons*
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles *
#col-1	{ position: absolute; top: 0; left: 0; width:85px;
} 
/*place the column on the page*
li	{ margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px;
	visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture *
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*
#col-2	{ position: absolute; top: 0; left: 85px; width:85px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture *
#col-2 a img.hid { width: 260px; height:390px;
	position: absolute; top: 10px; left: 245px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture *
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*
#col-3	{ position: absolute; top: 0; left: 175px; width:95px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture *
#col-3 a img.hid {
	width: 260px; height:390px;
	position: absolute; top: 10px; left: 155px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture *
#col-3a:hover { background: white; 
}
#col-3 a:hover img.hid { visibility:visible; 
}
/* Listing 4-1b. Applying the display:inline-block; Style to the Second Row of Buttons (inline-block.css) - Set styles to equalise the browser rendition*/
html, h1, h2, h3, h4, h5, p, ol, ul, li { padding: 0; margin: 0;
}
/* **************************************************************************** */
/*equalise all the margins, paddings and borders built into various browsers* 
div body header #content { margin:0; padding:0; border:0; 
}
body { background:#FFF url(images/green-grad.jpg) repeat-x; margin:auto;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block; 
}
header {width:920px; height:180px; padding:0; border:10px white solid; 
  background: url(../bda-20.jpg); margin:10px auto; 
}
h1 { font-size:300%; color :white; position: relative; left:90px; top: 55px; width:480px; 
}
#rosette { position:relative; left:750px; top:5px; }


#content { background-color:transparent; border-left:10px white solid; border-right:10px white solid; 
border-bottom:10px white solid; width: 904px; margin-top:-10px; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon; 
}
h2 { font-size:x-large; color:white; margin:0 0 10px 0; 
}
h3 { font-size:large; color:white; margin:0 0 6px 0; 
}
#leftcol { float:left; width: 310px; vertical-align:top; 
}
#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
#midcol { 	margin-left:315px; margin-right:145px; margin-top:10px; vertical-align:top; 
}
/* set side menu block position and width*/
nav { margin:10px 30px 0 10px; width:135px; float:right; 
}
/*Set list style within the menu block only. This removes bullets*/
nav li { list-style-type:none; 
}	
/* set general side button styles */
nav li { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*/
nav li a { display: block; color: white; font-weight: bold; text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
nav li a { background:#559a55; color: white; border: 5px outset #559a55; padding-bottom:3px;
}
/* mouseover */
nav li a:hover { background: red;  color:white; border: 5px outset red;
}
/*mouse active*/
nav li a:active { background:maroon;  border: 5px inset maroon; 
}
br.clear { 	clear:both; 
}
#midcol img { margin-left:10px; 
}
footer { clear:both; color:maroon; text-align:center; 
}
/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block;
}
/*set attributes for consistent appearance in all browsers*/

wrapper#horizontalequal2dwrapper.data { 
    border:2px solid #f76707;
    border-radius: 5px;
}

wrapper#horizonequal2dwrapper.data > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    /* background-color: #ffd8a8; */
    padding: 1em;
    color: #d9480f;
}
wrapper#horizontalequal2dwrapper.data {
    display: grid;
   /*  grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    height: 500px;
    width: 500px;
    gap: 10px; */
}



div#inlineblockcontainer.data {
    margin:auto; 
    text-align:center; 
    width:97%; 
    min-width:800px; 
    max-width:1200px;
}
section#html5style2section {
    display: block
}
header#html5style2header {
    display: block;
}
/*equalise for various browsers and change #header to header*
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}

/*add display attributes for the semantic tags*
header,
footer,
section,
article,
nav {
  display: block;
}
/*remove the # from #header*/
header#html5style2header {
    width: 920px;
    height: 180px;
    border: 10px white solid;
    padding: 10px;
    background-image: url("../bda-20.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 10px auto;
}
h1 {
  font-size: 300%;
  color: rgb(110, 14, 14);
  position: relative;
  left: 90px;
  top: -3px;
  width: 480px;
}
#rosette {
  position: relative;
  left: 750px;
  top: 5px;
}
div#html5style2content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}
/*
h2 {
  font-size: x-large;
  color: white;
  margin: 0 0 10px 0;
}
h3 {
  font-size: large;
  color: white;
  margin: 0 0 6px 0;
}
  */
div#html5style2leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}
div#html5style2rightcol { 
    width: 135px; 
    float:right; height: 252px; margin-right:10px;
}
div#html5style2midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 10px;
  vertical-align: top;
}

/*set nav block position and width*/
nav#html5style2Nav { margin:10px 0 10px; width:135px; float:right; 
}
nav#html5style2Nav ul {
  margin: -240px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*/
nav#html5style2Nav li {
  list-style-type: none;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*/
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}
/* specify mouse state styles */
/* mouseout (default) */
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}
/* mouseover */
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}
/*mouse active*/
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}
br.clear {
  clear: both;
}
div#html5style2#midcol img {
  margin-left: 10px;
}
div#html5style2footer {
  clear: both;
  color: maroon;
  text-align: center;
}



/* Listing 4-1b. Applying the display:inline-block; Style to the Second Row of Buttons (inline-block.css) - Set styles to equalise the browser rendition*
html, h1, h2, h3, h4, h5, p, ol, ul, li { padding: 0; margin: 0;
}
ul { padding-left: 0;}
/* end of style equalisation */
p { background:rgba(255, 255, 255, .5);  margin:auto; color: navy; text-align:center;
}
a { background: orange; color:navy;
}
.inline-block a { display:inline-block; width:110px; height:30px; line-height:30px; text-align:center;
}



/*Listing 4-2b. Styling Equal-width Buttons with Rollover Color Change (equal-2d.css) */
/* Set styles to equalise browser renditions*

*
#wrapper#equal2dwrapper {position:relative; top:0; left:0;width:950px; margin:auto; text-align:center;
}

header#equal2dheader { display: flex; justify-content: center;
    width:970px; height:180px; color:b#6e4242; background-color:#FFCC00; padding-top:10px;
}

header#equal2dheader {
    width: 970px;
    background-image: url("../bda-20.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

h1 { font-size:200%; font-weight:bold; margin-top:20px;
}
#equal2dmain-content { width:950px; margin:50px auto 0 auto; background-color:white; color:black; text-align:center; font-weight:bold;
}
footer {margin:10px auto 0 auto; width:950px; font-weight:bold; text-align:center; background-color:#FFCC00; color:black; clear:both;
}
#equal2dnav ul {position:absolute; top:880px; left:9%; width: 780px; list-style: none; height: 36px;
}
#equal2dnav li { float: left; width: 120px; margin:0 5px 0 5px;
}
#equal2dnav a { color: #000; font-size: 100%; font-weight:bold; text-decoration: none; text-align:center; border: 1px solid #000; padding: 5px; display: block; background-color: white;
}
#equal2dnav a:hover { font-weight: bold; background-color:green; color:white;
}
.clear { clear:both;
}

#equal2dmain-content {width:950px; margin:60px auto 0 auto; background-color:white; color:black; text-align:center; font-weight:bold;
}
#equal2dfooter {margin:10px auto 0 auto; width:950px; font-weight:bold; text-align:center; background-color:#FFCC00; color:black; clear:both;
}

#equal2dnav {position:absolute; top:100px; left:78px; width: 785px; padding: 5px; list-style: none; height: 35px;
}

#equal2dnav li { display:inline; padding: 5px; padding-top:15px; margin:5px 0 0 2px; height:25px;
}

#equal2dnav a {height:25px; color: #000; font-size:80%; font-size: 100%; font-weight:bold; text-decoration: none; border: 1px solid #000; padding:5px 5px 0 5px; display: inline-block; background-color: white; zoom: 1;
}

#equal2dnav a:hover { font-weight: bold; background-color:green; color:white;
}
.clear { clear:both;
}

/* FÁa better result was achieved by using a different outset color, as follows (also see Figure 4-4): */ 
/*mouseout state (see Figure 4-4)*/ 
li.hbtn a { background: #0080a0; border: 4px outset #aabaff; }


/* Listing 4-7b. The CSS Listing for Changing the Tab for the five Tab Menu Pages (squaretabs.css)
/* Set styles to equalise browser rendition*
html, h1, h2, h3, h4, h5, h6, p, ol, ul, li { padding: 0; margin: 0;
}
*
header, footer, section, article, nav { display:block;
}
*/
#container {width:960px; margin:-10px auto 0 auto;
}
/*
header {margin-top:0; height:156px; width:100%; background-image:url('images/bluepan.jpg'); background-repeat:no-repeat; background-position:center; border-bottom:0;
}
h1 {font-family:Arial; font-size:320%; color:white; font-weight:normal; text-align:center; padding-top:35px; margin-bottom:-10px; height: 94px; margin:auto;
}
/*set the generic tab style--and move menu upwards so that it overlaps the header*
nav {position:relative; top:-13px; color: navy; border-bottom: 1px solid black; margin: -25px 0 0 0; padding: 0px; padding-left: 10px; z-index: 1; }
/* use display:inline to remove IE6 double margin bug*/
nav li { display: inline; overflow: hidden; list-style-type: none;
}

    /*
    clip-path:polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px), 0 20px);*



header {
    width: 970px;
    background-image: url("images/panew.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}
*/
div#container.data { width:97%; margin:auto; min-width:800px; max-width:1100px; clip-path:polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px), 0 20px);
}
/*PAGE LAYOUT*/
/*Listing 3-3. CSS for new style sheet (gradient-pic.css) *
body, header { margin:auto; padding:0; border:0;
}
/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block;
}

body { margin:auto; background:url(images/green-grad.jpg) repeat-x;
}

/*mouseout state (see Figure 4-4)*/
li.hbtn a { background: #0080a0; border: 4px outset #aabaff; }
/*set the position of the content to move it close up to the menu tabs*
#content {margin-top:10px; font : 0.9em/1.3em "bitstream vera sans", verdana; position:relative; top:0.7em; text-align: left; background: #cfecf5; padding: 20px; border: 1px solid black; border-top: none; z-index: 2;
}
/*set the generic tab style--and move menu upwards so that it overlaps the header*
div#hnav {position:relative; top:-280em; left: 5px; color: navy; border-bottom: 1px solid black; margin: -25px 0 0 0; padding: 0px; padding-left: 10px; z-index: 1; }


/* TABLE ELEMENTS */
table { border-spacing:2px; border-collapse:separate;
 margin-top:0; margin-bottom:0; text-indent:0; }
caption { text-align:center; }
td { padding:1px; }
th { font-weight:bold; padding:1px; }
tbody, thead, tfoot { vertical-align:middle; }
/* INLINE ELEMENTS */
strong { font-weight:bold; }
cite, em, var, dfn { font-style:italic; }
code, kbd, samp { font-family:monospace; }
ins { text-decoration:underline; }
del { text-decoration:line-through; }
sub { vertical-align:-0.25em; font-size:smaller; line-height:normal; }
sup { vertical-align: 0.5em; font-size:smaller; line-height:normal; }
abbr[title] { border-bottom:dotted 1px; }
/* LIST ELEMENTS *
ul { list-style-type:disc; margin:1em 0; margin-left:40px; padding-left:0;}
ol { list-style-type:decimal; margin:1em 0; margin-left:40px; padding-left:0;}
/* remove top & bottom margins for nested lists */
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl
{ margin-top:0; margin-bottom:0; }
/* use circle when ul nested 2 deep */
ol ul, ul ul { list-style-type:circle; }
/* use square when ul nested 3 deep */
ol ol ul, ol ul ul, ul ol ul, ul ul ul { list-style-type:square; } 



/* Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) */


/*set images to have no borders*/
img {
    border: 0;
}

/*add display attributes for the semantic tags*
header,
footer,
section,
article,
nav {
    display: block;
}

/*SET FONTS*/
span.small {
    font-size: small;
}

h1 {
    font-size: 125%;
    font-family: "times new roman";
    text-align: center;
    color: #fff; 
}
/*
h2 {
    font-size: large;
    font-family: "times new roman";
    text-align: center;
}

/*
nav {
    float: left;
    margin-left: 10px;
    width: 115px;
}

nav ul {
    margin-left: 0;
    border: 0;
    width: 115px;
}
#banner h1 {text-shadow: 0.1em 0.1em 0.2em blue; font-family:Arial; font-size:125%; color:white; font-weight:normal; text-align:center; padding-top:2em; margin-bottom:-10px; margin:auto; 
}
/*set the generic tab style--and move menu upwards so that it overlaps the header*/ 
div#hnav {
  position:relative; 
  top: -1.4em; 
  left: 2%;
  color: navy; margin: -25px 0 0 0; padding: 0px; padding-left: 3em; z-index: 1;
}
/* use display:inline to remove IE6 double margin bug*/
#hnav li { display: inline; overflow: hidden; list-style-type: none;
}
/*set tab colour*/
#hnav a, a.active { color: navy; background: #81d9f6; font: bold 1em Arial; border: 1px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none; }
/*make a 3px wide bottom border on tab the same colour as the page*/
#hnav a.active { background: #cfecf5; color:navy; border-bottom: 3px solid #cfecf5;
}
/*hovering over a non-active tab shows an aqua tab*/
#hnav a:hover { background: aqua;
}
#hnav a:visited { color: navy;
}
/*hovering over the active tab shows navy text*/
#hnav a.active:hover { background: #cfecf5; color: navy;
}

div.picture {
width: 200px;
transform: rotate(45deg);
overflow: hidden;
}
div.picture > img {
max-width: 100%;
transform: rotate(-45deg);
}


.parallel {
position: relative;
/* text color, paddings, etc. */
display: inline-block;
border-radius: .2em;
color: white;
text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
font-size: 80%;
line-height: 1.5;
border-width: 10px;
border-left-width: 0;
}
.parallel::before {
content: ''; /* To generate the box */
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -1;
background: maroon;
transform: skew(45deg);
}
.parallel>div {
transform: skewX(45deg);
}
/*set far right column for ads*/
div#rightcol { position: relative; top: -26em; left: -4em; width:150px; float:right; text-align:center;
}
div#rightcol p.advert {font-size:small; margin-top:35px;
}
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
#gallery-block { position:relative; left: 30px; top:200px;
}

/*set footer*/
footer {
    clear: both;
    color: black;
    text-align: center;
    width: 970px;
}

.clear {
    clear: both;
}

/*set menu buttons*
li.btn a {
    display: block;
    background-color: #66CCFF;
    color: black;
    font-weight: bold;
    padding: 4px;
    margin-left: 0;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    width: 110px;
}
*/
li.btn a:hover {
    background-color: blue;
    color: white;
}

li.btn {
    width: 110px;
}

/*SET THUMBNAIL GALLERY BLOCK*/
/* Set general thumbnail styles */
#col-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
}

/*place the first column on the page*/
li {
    margin: 5px;
    list-style-type: none;
}

/*remove bullets from the un-ordered list elements and create the MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 330px;
    visibility: hidden;
}

/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover {
    background: white;
}

#col-1 a:hover img.hid {
    visibility: visible;
}

/*----------------------------------------------------*/
/* set 2nd column of thumbnails 85px further over to right*/
#col-2 {
    position: absolute;
    top: 0;
    left: 85px;
    width: 85px;
}

li {
    margin: 5px;
    list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 245px;
    margin-left: 0;
    visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover {
    background: white;
}

#col-2 a:hover img.hid {
    visibility: visible;
}

/*----------------------------------------------------*/
/* set 3rd column of thumbnails 170px further over to right*/
#col-3 {
    position: absolute;
    top: 0;
    left: 175px;
    width: 95px;
}

li {
    margin: 5px;
    list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid {
    width: 260px;
    height: 390px;
    position: absolute;
    top: 10px;
    left: 155px;
    margin-left: 0;
    visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover {
    background: white;
}

#col-3 a:hover img.hid {
    visibility: visible;
}

/*set the gallery block 10px further to the right*/
#gallery-block {
    position: absolute;
    left: 160px;
    top: 300px;
}

/* end-css  */

/* Listing 4-12b. Providing the CSS Styling for all the Pages that Use the cssportal.com Menu (turquoise.css) *
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
    padding: 0;
    /* margin: 0; *
}

header,
footer,
section,
article,
nav {
    display: block;
}

#container {
    width: 97%;
    margin: auto;
    min-width: 800px;
    max-width: 1100px;
}
*

Nav ul {
    /*
    padding-top: 230px;*
    padding: 0;
    list-style-type: none;
    margin: auto;
    display: block;
    height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: url('images/bgOFF.gif') repeat-x left top;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    border-bottom: 4px solid #336666;
    border-top: 1px solid #C0E2D4;
    position: relative;
    top: 0px;
    left: 0;
}

Nav ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

Nav ul li a {
    display: block;
    float: left;
    color: #874B46;
    text-decoration: none;
    padding: 12px 20px 0 20px;
    height: 24px;
    background: transparent url("images/bgDIVIDER.gif") no-repeat top right;
}

Nav ul li a:hover {
    background: transparent url("images/bgHOVER.gif") no-repeat top right;
}

Nav ul li a.current, ul#main-menu li a.current:hover {
    color: #fff;
    background: transparent url("images/bgON.gif") no-repeat top right;
}

/*set nav block position and width and remove the #menu item*
#nav ul { margin:10px 0 10px 0; width:135px; float:right;
}
/*Set un-ordered list style within the menu block only. This removes bullets*
#nav li { list-style-type:none;
}
/* set general side button styles *
#Nav li.btn { margin-bottom: 3px; text-align: center; width:130px;
} 
/*
#main-content {
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 35px;
    border-bottom: 4px solid #336666;
    border-left: 4px solid #336666;
    border-right: 4px solid #336666;
    border-top: none;
}
/*
#left-col {
    float: left;
    width: 180px;
}

#right-col {
    float: right;
    width: 180px;
}

#mid-col {
    margin-left: 185px;
    margin-right: 185px;
}
/*
h1 {
    font-family: Arial;
    font-size: 300%;
    padding-top: 60px;
    padding-left: 60px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

h2 {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
}
*/
br .clear {
    clear: both;
}

/* Listing 4-7b. The CSS Listing for Changing the Tab for the five Tab Menu Pages (squaretabs.css) */
/* Set styles to equalise browser rendition*
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li { padding: 0; margin: 0;
}
header, footer, section, article, nav { display:block;
}
/* body {text-align:center; margin: 20px; background: #bee8ff; font: medium arial; 
}
#container {width:960px; margin:-10px auto 0 auto;
}
*/

/*
h1 {font-family:Arial; font-size:320%; color:white; font-weight:normal; text-align:center; padding-top:35px; margin-bottom:-10px; height: 94px; margin:auto;
}

/* use display:inline to remove IE6 double margin bug*/
#hnav li { display: inline; overflow: hidden; list-style-type: none;
}
/*set tab colour*/
div#hnav a, a.active { color: navy; background: #81d9f6; font: bold 1em Arial; border: 1px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none;
}
/*make a 3px wide bottom border on tab the same colour as the page*/
div#hnav a.active { background: #cfecf5; color:navy; border-bottom: 3px solid #cfecf5;
}
/*hovering over a non-active tab shows an aqua tab*/
div#hnav a:hover { background: aqua;
}
div#hnav a:visited { color: navy;
}
/*hovering over the active tab shows navy text*/
div#hnav a.active:hover { background: #cfecf5; color: navy;
}

