@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
/* Listing 2-6b provides the CSS presentation instructions for a 3 column gallery set in a real world page.
Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) */
/*set attributes for consistent appearance in all browsers*
html, body, p, ul, li, h1, h2 { margin:0; padding:0;
}
set images to have no borders*/
img {
border:0;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
/*SET FONTS*/
span.small { font-size:small;
}
h1 { font-size:300%; font-family:"times new roman"; text-align:center;
}
h2 {font-size:150%; font-family:"times new roman"; text-align:center;
}
/*PAGE LAYOUT*/
body {margin:auto; width:970px;
}
header#gallery-one-colheader.data { width:970px;
}
nav#gallery-one-colnav.data { float:left; margin-left:10px; width:115px;
}
nav#gallery-one-colnav.data ul { margin-left:0; border:0; width:115px;
}
/*set far right column for ads*/
div#gallery-one-colrightcol.data { width:150px; float:right; text-align:center;
}
div#gallery-one-colrightcol.data p.advert {font-size:small; margin-top:190px;
}
/*set middle column for main content*/
div#gallery-one-colmidcol.data { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
div#gallery-one-colgallery-block.data { position:relative; left: 90px; top:30px;
}
/*set footer*/
footer#gallery-one-colfooter.data { clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}



/* Set general thumbnail styles */
#col-1	{ position: absolute; top: 0; left: 50px; } /*place the column on the page*/
li	{ margin: 10px; list-style-type:none; } /*remove bullets from the list elements*/
img	{ border: none; } /*set images to have no borders*/ 

/* MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 260px; height:390px;
	position: absolute; top: 10px; left: 140px;
	visibility: hidden;
	}

/* MouseOver state (hover)- reveal larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }
