/* Listing 1-7b. The Revised CSS Sheet for Figure 1-7 (html5-style-2.css) 
(The key items are picked out in bold type.) equalise for various browsers and change #header to header*/ 
html {
  display: block;
}

div.wrapper {
  background:#FFF url(images/green-grad.jpg) repeat-x!important;
  color: #333;
}
div.row {
  display: block;
}
div.col-12 {
  display: block; color #333;
}
div body header #content { margin:0; padding:0; border:0; 
} 
body.ui-mobile-viewport.ui-overlay-a {
   background:#FFF url(images/green-grad.jpg) repeat-x!important; margin: auto; 
  /* overflow-x: hidden; height: 99.9%; */
} 
/*add display attributes for the semantic tags*/ 
header, footer, section, article, nav { display:block; 
} 
/*remove the # from #header*/ 
header#html5styleheader.data {width:920px; height:180px; padding:0; border:10px white solid; background: url(../images/bda.jpg);  background-size: cover; /* Or contain, or other options */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; margin:10px auto; 
} 
h1 { font-size: xx-large; color :#333; position: relative; left:90px; top: 0px; width:480px; 
} 
#rosette { position:relative; left:750px; top:5px; 
} 
#html5stylecontent { background:#FFF url(images/green-grad.jpg) repeat-x!important; border-left:10px white solid; border-right:10px white solid; border-bottom:10px white solid; width: 904px; margin-top:10px; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon; 
} 
h2 { font-size: x-large; color: #333; margin:0 0 10px 0; text-align: center; 
} 
h3 { font-size: large; color: #333; margin:0 0 6px 0; text-align: center 
} 
#html5styleleftcol { float:left; width: 310px; vertical-align:top; 
} 
#html5stylerightcol { width: 135px; float:right; height: 252px; margin-right:10px; 
} 
#html5stylemidcol { margin-left:315px; margin-right:145px; margin-top:10px; 
vertical-align:top; 
} 
/*set nav block position and width and remove the #menu item*/ 
nav ul { margin: 35px 0 10px 0; width:135px; float:right; 
} 
/*Set un-ordered list style within the menu block only. This removes bullets*/ 
nav li { list-style-type:none; 
} 
/* set general side button styles */ 
li.btn { margin-bottom: 3px; text-align: center; width:130px; 
}
/* set general anchor styles and include the zoom fix for IE6*/ 
li.btn a { display: block; color: rgb(22, 22, 22); font-weight: bold; font-size: 80%; text-decoration: none; zoom:1; 
} 
/* specify mouse state styles */ 
/* mouseout (default) */ 
li.btn a { background:#559a55; color: white; border: 5px outset #559a55; padding-bottom:3px; 
} 
/* mouseover */ 
li.btn a:hover { background: red; color:white; border: 5px outset red; 
} 
/*mouse active*/ 
li.btn a:active { background:maroon; border: 5px inset maroon; 
} 
br.clear { clear:both; 
} 
#midcol img { margin-left:10px; 
} 
/*change #footer to footer */ 
footer { clear:both; color:maroon; text-align:center; 
}
.zebra {
  background-color: #dddddd;
  color: #666666;
}

tr.zebraHover {
  background-color: #FFFACD;
}







































