
/*
body {
  margin: 25px;
}
*/
/* needed for checkbox hack */

#topnavequal2dnav {
  position: relative;
  right: 1.2em;
  top: 7em;
}
nav#equal2dnav ul {
  display: none;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav#equal2dnav ul li a {
  display: block;
  padding: 10px 5px;
  background: #0b2463;
  color: white;
  text-decoration: none;
  border-right: 1px solid #34495e;
  font-size: 14px;
}
nav#equal2dnav ul li a:hover {
  background: #138a72;
}
nav#equal2dnav ul li:last-of-type a {
  border-right: 0px;
}
nav#equal2dnav ul li ul li a {
  padding-left: 1.5em;
}
nav#equal2dnav ul li ul li ul li a {
  padding-left: 3.125em;
}
nav#equal2dnav input.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
nav#equal2dnav input.trigger:checked ~ ul, nav#equal2dnav input.trigger:checked ~ ul li ul {
  display: block !important;
}
@media (min-width: 48em) {
  nav#equal2dnav input.trigger:checked ~ ul, nav#equal2dnav input.trigger:checked ~ ul li ul {
    /* older flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    /* newer flexbox */
    display: flex;
    flex-direction: row;
  }
}
nav#equal2dnav label {
  position: relative;
  top: 0;
  display: block;
  min-height: 2em;
  padding: .45em;
  font-size: .9em;
  margin: 0;
  cursor: pointer;
  background: #16a085;
  line-height: 2em;
  color: white;
  text-align: left!important;
}
nav#equal2dnav label:after {
  position: absolute;
  right: .2em;
  top: .1em;
  content: "\2261";
  font-size: 2.5em;
  font-weight: 300;
  color: white;
}
@media (min-width: 48em) {
  nav#equal2dnav ul {
    /* older flexbox */
    display: -ms-flexbox;
    flex-direction: -ms-row;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    /* newer flexbox */
    display: flex;
    flex-direction: row;
  }
  nav#equal2dnav ul li {
    position: relative;
    text-align: center;
    /* older flexbox */
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    /* newer flexbox */
    flex: 1;
  }
  nav#equal2dnav ul li ul {
    display: none !important;
    position: absolute;
    top: 3.0625em;
    left: 0;
    display: block;
    width: 12.5em;
    z-index: 200;
  }
  nav#equal2dnav ul li ul li {
    text-align: left;
  }
  nav#equal2dnav ul li ul li ul {
    z-index: 300;
    top: 0px;
    left: 12.4em;
  }
  nav#equal2dnav ul li ul li ul li a {
    padding-left: 30px !important;
  }
  nav#equal2dnav ul li:hover > ul {
    display: block !important;
  }
  nav#equal2dnav label {
    display: none;
  }
}
