html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li { 
	 margin: 0; 
	 padding: 0;
}
header, footer, section, article, nav { display:block; 
}
body { background-color:#bbFFaa;
    border: 10px solid hsla(0,0%,100%,.5);
    background: white;
    background-clip: padding-box;
    background:#FFF url(images/green-grad.jpg) repeat-x; 
    background-color:#D7FFEB;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-radius: .2em;
    border-width: 10px; 
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: #000000;
    font-family:Arial; 
    font-size: 100%;
    text-align:center; 
    line-height: 1.5; 
    max-width:1024px; 
    min-width:800px;
    margin: auto; 
    padding: .3em .8em;	
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);  
}
/*set attributes for consistent appearance in all browsers*/
div.wrapper { 
    background: #58a linear-gradient(#FF9966, #58a);
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
}

#wrapped-container { 
	width:93%; 
	margin:auto; 
	min-width:800px; 
	max-width:1100px;
	background: #58a linear-gradient(#FF9966, #58a);
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
}

div#header.row {
	background-image:url("images/panew.jpg"); 
	background-repeat:no-repeat; 
	height:190px; 
	width:821px;
	background-position:top left;
	border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
	position:absolute; 
	top:8%; left:9.2%;
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-left: -1rem;
  }



.logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3%;
    left: 3%;
    background: #58a linear-gradient(#FF9966, #58a);
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 0%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
}
div.search {
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
	position:absolute; top:12%; left:7.5%;
    color: white;
    font-size: 55%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);	
}
#container { 
	width:97%; 
	margin:auto; 
	min-width:800px; 
	max-width:1100px;
	
	background: #58a linear-gradient(#FF9966, #58a);
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0;
    border-width: 10px;
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto; padding: 0;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
}


/*HEADER/BANNER FILLS THE CONTAINER'S WIDTH*
header {padding-top:0; width:60em; height:100px; margin-top:1.25em; 
background-image:url('images/183827104_3988962411179790_7582603085971185577_n.jpg'); background-repeat:no-repeat; 
}

/*HEADER/BANNER FILLS THE CONTAINER'S WIDTH
header {padding-top:0; width:100%; height:156px; margin:0 auto 0 auto; 
/* background-image:url('images/bluepan.jpg'); background-repeat:no-repeat; background-position:-1.25em left; 
background-image:url("images/panew.jpg"); background-repeat:no-repeat; height:190px; background-position:top left;
}
*/
nav ul  {padding-top:230px;padding:0;list-style-type:none; margin:auto; 
display:block;height:36px;text-transform:uppercase;
font-size:12px;font-weight:bold;
background:url('images/bgOFF.gif') repeat-x left top;
font-family:Helvetica,Arial,Verdana,sans-serif;
border-bottom:4px solid #336666; border-top:1px solid #C0E2D4;
position:relative;	top: -7em; left: 0;
}
nav ul  li { display:block;float:left;margin:0;padding:0;
}
nav ul  li a { display:block; float:left;color:#874B46;
text-decoration:none;padding:.12px 20px 0 20px;height:24px;
background:transparent url("images/bgDIVIDER.gif") no-repeat top right; 
}
nav ul  li a:hover{ background:transparent url("images/bgHOVER.gif") no-repeat top right; 
}
nav ul  li a.current,ul#main-menu li a.current:hover { color:#fff;
background:transparent url("images/bgON.gif") no-repeat top right; 
}
#main-content { text-align:center; background-color:white; color:black; margin-top:35px;
	border-bottom:4px solid #336666; border-left:4px solid #336666; border-right:4px solid #336666; border-top:none; 
	}
	
#left-col { float:left; width: 180px; 
}
#right-col { float:right; width:180px; 
}
#mid-col { margin-left:185px; margin-right:185px;
}

h1 {font-family:Arial; font-size:150%; padding-top:60px; padding-left:60px; margin-top:0; margin-bottom:0; color:#333;
}
h2 { font-size:75%; margin-top:0; margin-bottom:5px; color:black;
}

br .clear {	clear:both;
}
/*set images to have no borders*/
img { 	border:0;
}
/*set far right column for ads*/
#rightcol { width:150px; float:right; text-align:center;margin-top: -190px;	
}
#rightcol p.advert {font-size:small; margin-top: 90px;
} 
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/ 
#gallery-block { position:relative; left: 20%; top:-195px; 
}
/*set footer*/
footer { 	clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}
/*set menu buttons*/
#navone li.btn a { display:block; background-color :#946055; color:yellow; font-weight:bold; padding:4px; border: 4px outset #c96e6b;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
#navone li.btn a:hover { background-color:9f7562; color:white;
}
#navone li.btn a:active { background:#aecbff;  border: 4px inset #aecbff; 
}
#navone li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles */
#col-1	{ position: absolute; top: 0; left: 0; width:85px;
} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px;
	visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-2	{ position: absolute; top: 0; left: 85px; width:85px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px;
	position: absolute; top: 10px; left: 245px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-3	{ position: absolute; top: 0; left: 175px; width:95px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid {
	width: 260px; height:390px;
	position: absolute; top: 10px; left: 155px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white; 
}
#col-3 a:hover img.hid { visibility:visible; 
}

/* set the generic tab style--and set position so that it overlaps the header*/ 
#navtwo {position:relative; top:-13px; color: navy; border-bottom: 1px solid black;
margin: -25px 0 0 0; padding: 0px; padding-left: 10px; z-index: 1; }
/* use display:inline to remove IE6 double margin bug*/
#navtwo li { display: inline; overflow: hidden; list-style-type: none; 
	}
/*set tab colour*/
	#navtwo a, a.active { color: navy; background: #81d9f6; font: bold 1em "Trebuchet MS", Arial, sans-serif;
		border: 1px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none; 
		}
 /*make a 3px wide bottom border on tab the same colour as the page*/  
	 a.active { background: #cfecf5; color:navy; border-bottom: 3px solid #cfecf5; 
	}
  /*hovering over a non-active tab shows an aqua tab*/
	#navtwo a:hover { 	background: aqua; 
	}
 	#navtwo a:visited { color: navy; 
	}
 /*hovering over the active tab shows navy text*/
	#navtwo a.active:hover { background: #cfecf5; color: navy; 
	}