@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
*{ margin:0; padding: 0; box-sizing: border-box;}
html, body { height: 100%; background: FFF; text-align: center; font: 1.15em/1 'Open Sans', sans-serif; color: #FFF;}
.wrapper { background-color: #F5F5F5; height: 100%;}
#header { background-color: #AFDED4;}
.logo { padding: 2%;}
img { max-width: 100%;}
h2.dark { color: #34495E;}
h2 { font: 300 2em /1 'Raleway', sans-serif; color: #FFF; padding: 2%; position: relative;  top: 50%; transform: translateY(-50%);}
.social { list-style: none;}
.social li { display: inline;}
.social { font-size: 3em; margin: 1%; padding: 5%; color: #F6931E;}
.social i:hover { color: #F6931E;}
p { padding: 2%;}

/*equalise for various browsers and change #header to header*/
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF url(images/green-grad.jpg) repeat-x;
  margin: auto;
}

/*add display attributes for the semantic tags*/
header,
footer,
section,
article,
nav {
  display: block;
}

/*remove the # from #header*/
header {
  width: 920px;
  height: 180px;
  padding: 0;
  border: 10px white solid;
  background: url(images/header3.jpg);
  margin: 10px auto;
}

h1 {
  font-size: 100%;
  color: blue;
  position: relative;
  left: 90px;
  top: -3px;
  width: 480px;
}

#rosette {
  position: relative;
  left: 750px;
  top: 5px;
}

#content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}

h2 {
  font-size: x-large;
  color: blue;
  margin: 0 0 10px 0;
}

h3 {
  font-size: large;
  color: blue;
  margin: 0 0 6px 0;
}

#leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}

/*#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}*/
#midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: -50px;
  vertical-align: top;
}

/*set nav block position and width*/
/*nav { margin:10px 30px 0 10px; width:135px; float:right; 
}*/
nav ul {
  margin: 10px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*/
nav li {
  list-style-type: none;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*/
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}

/* specify mouse state styles */
/* mouseout (default) */
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}

/* mouseover */
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}

/*mouse active*/
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}

br.clear {
  clear: both;
}

#midcol img {
  margin-left: 10px;
}

footer {
  clear: both;
  color: maroon;
  text-align: center;
}
/*--- Media Queries ---*/
@media all and (max-width: 900px){
    h2 {
        font-size: 1.5em;
    }
    .social i {
        font-size: 2em;
    }
}
@media all and (min-width: 768px){
    .row {
        display: flex;
        margin: auto;
    }
    [class*="col-"]:last-child {
        margin: 0;
    }
    .col-1 { flex: 1;}
    .col-2 { flex: 2;}
    .col-3 { flex: 3;}
    .col-4 { flex: 4;}
    .col-5 { flex: 5;}
    .col-6 { flex: 6;}
    .col-7 { flex: 7;}
    .col-10 { flex: 10;}
    .col-11 { flex: 11;}
    .col-12 { flex: 12;}
    }
@media all and (max-width: 768px){
    .logo {
        max-width: 185px;
    }
    h2 {
        font-size: 1.25em;
        padding: '9em';
    }
    .circle {
        border-radius: 50%;
        max-width: 40%;
        padding: 5% 0;
    }
}
@media all and (max-width: 500px){
    .social {
        font-size: 1.5em;
    }
}
