@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
*{ margin:0; padding: 0; box-sizing: border-box;}
html { height: 100%; text-align: center; font: 1.15em/1 'Open Sans', sans-serif; color: #FFF;} */
div.wrapper {position:relative; top:0px; left:0;width:100%; margin:auto; text-align:center;
}
/*add display attributes for the semantic tags*
header, footer, section, article, nav { display:block;
}
/*SET FONTS*/
span.small { font-size:small;
}

h1#gallerypageh1 { font-size:x-large; font-family:"times new roman"; text-align:center;
}
h2#gallerypageh2 {font-size:large; font-family:"times new roman"; text-align:center;
}

header#gallerypageheader.data { width:970px;
}
nav#gallerypagenav.data { float:left; margin-left:10px; width:115px;
}
nav#gallerypagenav.data ul { margin-left:0; border:0; width:115px;
}
/*set far right column for ads*/
div#gallerypagerightcol.datd { width: 150px; float:right; text-align:center;
}
div#gallerypagerightcol.data p.advert {font-size:small; margin-top:190px;
}
/*set middle column for main content*/
div#gallerypagemidcol.data { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
div#gallerypagegallery-block.data { position:relative; left: 30px; top: -495px;
}
/*set footer*/
footer#gallerypagefooter { clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}
/*set menu buttons*/
#gallerypagenav li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px; margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
#gallerypagenav li.btn a:hover { background-color:blue; color:white;
}
#gallerypagenav li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/
/* Set general thumbnail styles */
#col-1 { position: absolute; top: 0; left: 0; width:85px;
}
/*place the first column on the page*/
li { margin: 5px; list-style-type:none;
}
/*remove bullets from the un-ordered list elements and create the 
MouseOut state (default) - create and position a space for the larger images and 
hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px; visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible;
}
/*----------------------------------------------------*/
/* set 2nd column of thumbnails 85px further over to right*/
#col-2 { position: absolute; top: 0; left: 85px; width:85px;
}
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 245px; margin-left:0;visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }
/*----------------------------------------------------*/
/* set 3rd column of thumbnails 170px further over to right*/
#col-3 { position: absolute; top: 0; left: 175px; width:95px; }
li { margin: 5px; list-style-type:none;
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 155px; margin-left:0; visibility: hidden;
}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white;
}
#col-3 a:hover img.hid { visibility:visible;
}
header#html5style2header { background-color: #AFDED4;}
.logo { padding: 2%;}
img { max-width: 300%;} 
h2.dark { color: #34495E;}
h2#html5style2h2 { font: 300 2em /1 'Raleway', sans-serif; color: #FFF; padding: 2%; position: relative;  top: 50%; transform: translateY(-50%);}
.social { list-style: none;}
.social li { display: inline;}
.social { font-size: 3em; margin: 1%; padding: 5%; color: #F6931E;}
.social i:hover { color: #F6931E;}
p { padding: 2%;}

/*equalise for various browsers and change #header to header*/
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF url(images/green-grad.jpg) repeat-x;
  margin: auto;
}

/*add display attributes for the semantic tags*/
header,
footer,
section,
article,
nav {
  display: block;
}

/*remove the # from #header*/
header#html5style2header.data {
  width: 920px;
  height: 180px;
  padding: 0;
  border: 10px white solid;
  background: url(images/header3.jpg);
  margin: 10px auto;
}

h1#html5style2h1 {
  font-size: 100%;
  color: blue;
  position: relative;
  left: 90px;
  top: -3px;
  width: 480px;
}

#rosette {
  position: relative;
  left: 750px;
  top: 5px;
}

div#html5style2content.data {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -21px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}

h2#html5style2h2 {
  font-size: x-large;
  color: blue;
  margin: 0 0 10px 0;
}

h3#html5style2h3 {
  font-size: large;
  color: blue;
  margin: 0 0 6px 0;
}

div#html5style2leftcol.data {
  float: left;
  width: 310px;
  vertical-align: bottom;
}

/*#html5style2rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}*/
div#html5style2midcol.data {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 0px;
  vertical-align: top;
}

/*set nav block position and width*/
/*nav { margin:10px 30px 0 10px; width:135px; float:right; 
}*/
nav#html5style2nav.data ul {
  margin: 10px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*/
nav#html5style2nav.data li {
  list-style-type: none;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*/
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}

/* specify mouse state styles */
/* mouseout (default) */
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}

/* mouseover */
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}

/*mouse active*/
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}

br.clear {
  clear: both;
}

div#html5style2midcol.data img {
  margin-top: -510px;
}

footer#html5style2footer {
  clear: both;
  color: maroon;
  text-align: center;
}

﻿/*set images to have no borders*/
img { border:none;
}
/* Set general thumbnail styles */
#col-1	{ position: absolute; top: 0; left: 0; width:85px;} /*place the column on the page*/
li	{ margin: 5px; list-style-type:none; } /*remove bullets from the list elements*/
/* MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 250px; height:340px;
	position: absolute; top: 10px; left: 400px;
	visibility: hidden;
	}

/* MouseOver state (hover)- reveal larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-2	{ position: absolute; top: 0; left: 85px; width:135px; }
li	{ margin: 5px; list-style-type:none;	}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid {
	width: 350px; height:265px;
	position: absolute; top: 10px; left: 315px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/


/* set 3rd column of thumbnails 170px further over to right*/
#col-3	{ position: absolute; top: 0; left: 230px; width:108px; }
li	{ margin: 5px; list-style-type:none;	}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid {
	width: 260px; height:260px;
	position: absolute; top: 10px; left: 175px; margin-left:0;
	visibility: hidden;
	}

/* MouseOver state (hover)- reveal larger picture */
#col-3 a:hover { background: white; }
#col-3 a:hover img.hid { visibility:visible; }



/*--- Media Queries ---*/
@media all and (max-width: 900px){
    h2 {
        font-size: 1.5em;
    }
    .social i {
        font-size: 2em;
    }
}
@media all and (min-width: 768px){
    .row {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    [class*="col-"]:last-child {
        margin: 0;
    }
    .col-1 { flex: 1;}
    .col-2 { flex: 2;}
    .col-3 { flex: 3;}
    .col-4 { flex: 4;}
    .col-5 { flex: 5;}
    .col-6 { flex: 6;}
    .col-7 { flex: 7;}
    .col-10 { flex: 10;}
    .col-11 { flex: 11;}
    .col-12 { flex: 12;}
    }
@media all and (max-width: 768px){
    .logo {
        max-width: 185px;
    }
    h2 {
        font-size: 1.25em;
        padding: '9em';
    }
    .circle {
        border-radius: 50%;
        max-width: 40%;
        padding: 5% 0;
    }
}
@media all and (max-width: 500px){
    .social {
        font-size: 1.5em;
    }
}
