/* Listing 1-7b. The Revised CSS Sheet for Figure 1-7 (html5-style-2.cs

/* equalise for various browsers and change #header to header */
div body header #content { margin:0; padding:0; border:0;
}
body { background:#FFF *url(images/green-grad.jpg) repeat-x; margin: auto; margin-left:auto; 
    margin-right:auto;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
div {
  border: 1px solid black;
  padding: 20px;
}
div.wrapper { 
    position: relative; 
    top: 0em; 
    left: 0px; 
    width: 1800px; 
	font-size: 100%;
    margin-left:auto; 
    margin-right:auto; 
	text-align: center;
}
img.logo { overflow-clip-margin: content-box; overflow: clip; }

nav#nav.data {
	display: block;
    padding: .8em;
    background: #16a085;
    color: white;
    text-decoration: none;
    border-right: 1px solid #34495e;
    font-size: .9em;
}
div#html5-style-2content.data {
    background-color:transparent; 
    border-left:10px white solid; 
    border-right:10px white solid; 
    border-bottom:10px white solid; 
    width: 10em; 
    margin-top: -10px; 
    margin-left:auto; 
    margin-right:auto; 
    padding:8px; 
    font-size:100%; 
    color:maroon; 
}

/*remove the # from #header*/
header#html5-style-2header {
  width: 70%;
  height: 180px;
  padding: 0;
  border: 10px white solid;
  background: url(./bda-20.jpg);
  margin: 10px auto;
}
h1 {
    font-size: 200%;
    position: relative;
    left: 90px;
    top: 55px;
    width: 480px;
    color: white;
    margin: 0 0 10px 0;
}
h1#html5-style-2h1.veryimportant.heading.stuff { font-size:300%; color:rgba(0,0,0,.5); position: relative; left:90px; top: -3px;
width:480px;
}
#rosette { position:relative; left:350px; top:5px;
}
#html5-style-2content { background-color:transparent; border-left:10px white solid; border-right:10px white solid; border-bottom:10px white solid; width: 904px; margin-top: -8%; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon;
}
h2#html5-style-2h2 { font-size: x-large; color:white; margin:0 0 10px 0;
}
h3#html5-style-2h3 { font-size: large; color:white; margin:0 0 6px 0;
}
#html5-style-2leftcol { float:left; width: 310px; vertical-align:top;
}
#html5-style-2rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
#html5-style-2midcol { margin-left:315px; margin-right:145px; margin-top:10px; vertical-align:top;
}
/*set nav block position and width and remove the #menu item*/
nav#html5-style-2nav ul { margin:10px 0 10px 0; width:135px; float:right;
}
/*Set un-ordered list style within the menu block only. This removes bullets*/
nav#html5-style-2nav li { list-style-type:none;
}
/* set general side button styles */
nav#html5-style-2nav li.btn { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*/
nav#html5-style-2nav li.btn a { display: block; color: white; font-weight: bold; text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
nav#html5-style-2nav, li.btn a { background:#559a55; color: white; border: 5px outset #559a55; padding-bottom:3px;
}
/* mouseover */
nav#html5-style-2nav li.btn a:hover { background: red; color:white; border: 5px outset red;
}
/*mouse active*/
nav#html5-style-2nav li.btn a:active { background:maroon; border: 5px inset maroon;
}
br.clear { clear:both;
}
#html5-style-2midcol img { margin-left:10px;
}
/*change #footer to footer */
footer#html5-style-2footer { clear:both; color:maroon; text-align:center;
}

#container {
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
}

#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu li {
  float: left;
  background: #FFF;
}

#menu a {
  display: block;
  padding: 5px;
  width: 130px;
}

#menu li ul {
  position: absolute;
  left: -999em;
  width: 140px;
}

#menu li:hover ul, #menu li ul:hover {
  left:auto;
}

/*equalise for various browsers and change #header to header*
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}
button.cancel {
background-color: #c00;
}
button.ok {
background-color: #6b0;
}
hr {
height: .5em;
background: currentColor;
}
input, select, button { font: inherit; }

h2 {
    font-size: x-large;
    color: maroon;
    margin: 0 0 10px 0;

}

div#html5-ch1-7leftcol.data {

}

h3 {
    font-size: large;
    color: maroon;
    margin: 0 0 6px 0;

}

img {

}

br {

}

nav#html5-style-2nav.data {
    margin: 18px 50px 10px 0;
    width: 135px;
    float: right;
}

/* set general side button styles *
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

div#html5-style-2midcol.data {
    margin-left: 315px;
    margin-right: 145px;
    margin-top: 20px;
    vertical-align: top;
}

#html5-style-2midcol.data img {
    margin-top: 10px;
}

div.footer {

}

div.company-details {

}

P.copyright {

}

P.distributor {

}

P.address {

}

P.telephone-number {

}

hr.full {

}

div#comment {

}

br {

}

textarea {

}

a.back-to-top.d-flex.align-items-center-justify-content-center.active {

}

section#chapter2 {

}

section#chapter3 {

}

p {
    color: #000;
    margin:auto; 
    text-align:center;

}

footer {
    clear: both;
    color: white;
    text-align: center;
}






/*add display attributes for the semantic tags*
header,
footer,
section,
article,
nav {
  display: block;
}

h1 {
  font-size: 200%;
  color: white;
  position: relative;
  left: 90px;
  top: -11px;
  width: 715px;
}

#rosette {
  position: relative;
  left: 780px;
  top: -93px;
}

#content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}

h3 {
  font-size: large;
  color: maroon;
  margin: 0 0 6px 0;
}

#leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}

/*#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}*
#midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 10px;
  vertical-align: top;
}

/*set nav block position and width*/
/*nav { margin:10px 30px 0 10px; width:135px; float:right; 
}*
nav ul {
  margin: -3px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*
nav li {
  list-style-type: none;
}

/* set general side button styles *
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}

/* specify mouse state styles */
/* mouseout (default) *
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}

/* mouseover *
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}

/*mouse active*
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}

br.clear {
  clear: both;
}

#midcol img {
  margin-left: 10px;
}

footer {
  clear: both;
  color: maroon;
  text-align: center;
}



/* style up a few of the new elements *
article, aside, figure,footer, header, hgroup, menu, nav, section { display: block;}

body > header { background-color: #930; color: white;}
body > footer {border-top: solid 5px black; }
*
h3 { font-variant: small-caps; }
p { margin-left: 1.5em; }
section { border-top: dashed 2px black; }
section > section h3 { margin-left: 2em; }
section > section p { margin-left: 3em; }
body > footer > p { text-align: right; font-style: italic; font-size: smaller;} 
			  

#navigation{
	float: right;
	width: 150px;
}
#intro{
	width: 902px;
}

/*
Listing 2-6b provides the CSS presentation instructions for a 3 column gallery set in a real world page. 
 CHAPTER 2 ■ A ROLLOVER PICTURE GALLERY 
/*set menu buttons*/

/* Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) 
*set attributes for consistent appearance in all browsers*/ 
html, body, p, ul, li, h1, h2 { margin:0; padding: 0;} 
/*set images to have no borders*/ 
img { border:0; 
} 
/*add display attributes for the semantic tags*/ 
header, footer, section, article, nav { display:block; 
} 
/*SET FONTS*/ 
span.small { font-size:small; 
} 
h1#gallery-pageh1 { font-size:x-large; font-family:"times new roman"; text-align:center; 
} 
h2#gallery-pageh2 {font-size:large; font-family:"times new roman"; text-align:center; 
} 
/*PAGE LAYOUT*/ 
body {margin:auto; width:100%; 
} 
header#gallery-pageheader.data { width:95%; 
} 
nav#gallery-pagenav.data { float:left; margin-left:10px; width:115px; position: relative; top:325px;
} 
ul { margin-left:0; border:0; width:115px; 
} 
/*set far right column for ads*/ 
div#gallery-pagerightcol.data { width:255px; float:right; text-align:center; 
} 
div#gallery-pagerightcol p.advert {font-size: 15px; margin-top:190px; 
} 
/*set middle column for main content*/ 
div#gallery-pagemidcol.data { margin-left:135px; margin-right:155px; 
} 
/*set gallery block position*/ 
div#gallery-pagegallery-block.data { position:relative; left: 30px; top: -490px; 
} 
/*set gallery block position*/ 
div#gallerypagegallery-block { position:relative; left: 143px; top: 72rem; 
} 
/*set footer*/ 
footer#gallery-pagefooter { clear:both; color:black; text-align:center; width:970px; 
} 
.clear { clear:both; 
}
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px; margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px; 
} 
#gallery-page, li.btn a:hover { background-color:blue; color:white; 
} 
#gallery-page, li.btn { width:110px; 
} 
/*SET THUMBNAIL GALLERY BLOCK*/ 
/* Set general thumbnail styles */ 
#gallery-pagecol-1 { position: absolute; top: 0; left: 0; width:85px; 
} 
/*place the first column on the page*/ 
#gallery-page, li { margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the -

MouseOut state (default) - create and position a space for the larger images and -

hide them*/ 
#gallery-pagecol-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px; visibility: hidden; 
} 
/* MouseOver state (hover)- this reveals larger picture */ 
#gallery-pagecol-1 a:hover { background: white; } 
#gallery-pagecol-1 a:hover img.hid { visibility:visible; 
} 
/*----------------------------------------------------*/ 
/* set 2nd column of thumbnails 85px further over to right*/ 
#gallery-pagecol-2 { position: absolute; top: 0; left: 85px; width:85px; 
} 
#gallery-page, li { margin: 5px; list-style-type:none; 
} 
/* MouseOut state (default) - hide larger picture */ 
#gallery-pagecol-2 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 245px; margin-left:0;visibility: hidden; 
} 
/* MouseOver state (hover)- reveal larger picture */ 
#gallery-pagecol-2 a:hover { background: white; } 
#gallery-pagecol-2 a:hover img.hid { visibility:visible; } 
/*----------------------------------------------------*/ 
/* set 3rd column of thumbnails 170px further over to right*/ 
#gallery-pagecol-3 { position: absolute; top: 0; left: 175px; width:95px; } 
#gallery-page, li { margin: 5px; list-style-type:none; 
} 
/* MouseOut state (default) - hide larger picture */ 
#gallery-pagecol-3 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 155px; margin-left:0; visibility: hidden; 
} 
/* MouseOver state (hover)- reveal larger picture */ 
#gallery-pagecol-3 a:hover { background: white; 
} 

#gallery-pagecol-3 a:hover img.hid { visibility:visible;

}

﻿/*set images to have no borders*/
img {
	border: none;
}

/* Set general thumbnail styles */
#gallery3colmixcol-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
}

/*place the column on the page*/
li {
	margin: 5px;
	list-style-type: none;
}

/*remove bullets from the list elements*/
/* MouseOut state (default) - create and position a space for the larger images and hide them*/
#gallery3colmixcol-1 a img.hid {
	width: 250px;
	height: 340px;
	position: absolute;
	top: 10px;
	left: 400px;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#col-1 a:hover {
	background: white;
}

#gallery3colmixcol-1 a:hover img.hid {
	visibility: visible;
}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#gallery3colmixcol-2 {
	position: absolute;
	top: 0;
	left: 85px;
	width: 135px;
}

li {
	margin: 5px;
	list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#gallery3colmixcol-2 a img.hid {
	width: 350px;
	height: 265px;
	position: absolute;
	top: 10px;
	left: 315px;
	margin-left: 0;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#gallery3colmixcol-2 a:hover {
	background: white;
}

#gallery3colmixcol-2 a:hover img.hid {
	visibility: visible;
}

/*----------------------------------------------------*/


/* set 3rd column of thumbnails 170px further over to right*/
#gallery3colmixcol-3 {
	position: absolute;
	top: 0;
	left: 230px;
	width: 108px;
}

li {
	margin: 5px;
	list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#gallery3colmixcol-3 a img.hid {
	width: 260px;
	height: 260px;
	position: absolute;
	top: 10px;
	left: 175px;
	margin-left: 0;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#gallery3colmixcol-3 a:hover {
	background: white;
}

#col-3 a:hover img.hid {
	visibility: visible;
}



﻿/*set images to have no borders*/
img {
	border: none;
}

/* Set general thumbnail styles */
#gallery3colmixcol-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
}

/*place the column on the page*/
li {
	margin: 5px;
	list-style-type: none;
}

/*remove bullets from the list elements*/
/* MouseOut state (default) - create and position a space for the larger images and hide them*/
#gallery3colmixcol-1 a img.hid {
	width: 250px;
	height: 340px;
	position: absolute;
	top: 10px;
	left: 400px;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#col-1 a:hover {
	background: white;
}

#gallery3colmixcol-1 a:hover img.hid {
	visibility: visible;
}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#gallery3colmixcol-2 {
	position: absolute;
	top: 0;
	left: 85px;
	width: 135px;
}

li {
	margin: 5px;
	list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#gallery3colmixcol-2 a img.hid {
	width: 350px;
	height: 265px;
	position: absolute;
	top: 10px;
	left: 315px;
	margin-left: 0;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#gallery3colmixcol-2 a:hover {
	background: white;
}

#gallery3colmixcol-2 a:hover img.hid {
	visibility: visible;
}

/*----------------------------------------------------*/


/* set 3rd column of thumbnails 170px further over to right*/
#gallery3colmixcol-3 {
	position: absolute;
	top: 0;
	left: 230px;
	width: 108px;
}

li {
	margin: 5px;
	list-style-type: none;
}

/* MouseOut state (default) - hide larger picture */
#gallery3colmixcol-3 a img.hid {
	width: 260px;
	height: 260px;
	position: absolute;
	top: 10px;
	left: 175px;
	margin-left: 0;
	visibility: hidden;
}

/* MouseOver state (hover)- reveal larger picture */
#gallery3colmixcol-3 a:hover {
	background: white;
}

#gallery3colmixcol-3 a:hover img.hid {
	visibility: visible;
}

#menu { 
  float: right;
  width:200px;
}

#menu, #menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li { 
  cursor:pointer;
  background:#94C5EB url(arrows.png) no-repeat right top;
  border-bottom:1px solid #444;
}

#menu li a {
  text-decoration: none;
}

#menu>li>a { 
  padding: 2px 10px; font-weight:bold;
}

#menu li li{ 
  cursor:auto;
  border:0;
  padding:0 14px;
  background-color:#fff;
  background-image: none;
}

#disclaimer, #intro {
  width: 400px;
}

#container {
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
}

#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu li {
  float: left;
  background: #FFF;
}

#menu a {
  display: block;
  padding: 5px;
  width: 130px;
}

#menu li ul {
  position: absolute;
  left: -999em;
  width: 140px;
}

#menu li:hover ul, #menu li ul:hover {
  left:auto;
}

#container {
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
}

#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu li {
  float: left;
  background: #FFF;
}

#menu a {
  display: block;
  padding: 5px;
  width: 130px;
}

#menu li ul {
  position: absolute;
  left: -999em;
  width: 140px;
}

#menu li:hover ul, #menu li ul:hover {
  left:auto;
}
#accordion {
	width:200px;
}
#accordion li{
	cursor: pointer;
	background:url(accordion_bg.png) repeat-x;
	font-weight:bold;
	color:#015287;
	border:1px solid #b2b2b2;
	margin-bottom:2px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px 8px;
}

#accordion li.active{
	color:#D15600
}
#accordion li ul{
	padding:0;
	margin:10px 0 0 0;
}

#accordion li.active li{
	text-indent:0;
}
#accordion li li{
	font-weight: normal;
	background:none;
	border:0;
}
#info{
	width: 300px;
	border: 1px solid #999;
	padding: 0 10px;
}
#info p {
	width: inherit;
	background-color: inherit;
}
#info-nav{
	margin: 0;
	padding: 3px 0;
	width: 100%;
	list-style: none;
}
#info-nav li{
	display: inline;
	background: #ccc;
	border: 1px solid #888;
	border-bottom: 0;
	margin-right:2px;
	padding: 3px;
}
#info-nav li a:hover{
	color:#d15600;
}
#info-nav li.current{ 
	background: #fff;
	padding-bottom: 4px;
  
}

#celebs {
	clear: both;
}















































































