/* Listing 1-7b. The Revised CSS Sheet for Figure 1-7 (html5-style-2.css */

/* equalise for various browsers and change #header to header */
div body header #content { margin:0; padding:0; border:0;
}
body { background:#FFF url(images/green-grad.jpg) repeat-x; margin: auto;
}
div.wrapper { 
    position: relative; 
    top: 0em; 
    left: 0; 
    width:#; 
    margin: auto;
	padding: .3em .8em;
    border: 1px solid rgba(0,0,0,.1);
    background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    font-size: 100%;
    line-height: 1.5;
    border-width: 10px;
    border-left-width: 0px;
}
div#html5-style-2container.data { padding: .3em .8em;
  border: 1px solid rgba(0,0,0,.1);
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 100%;
  line-height: 1.5;
  border-width: 10px;
  border-left-width: 0px;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block;
}
/*remove the # from #header*/
header#html5-style-2header {
  width: 920px;
  height: 180px;
  padding: 0;
  border: 10px white solid;
  background: url(../bda-20.jpg);
  margin: 10px auto;
}

h1#html5-style-2h1 { font-size:150%; color:rgba(0,0,0,.5); position: relative; left:90px; top: -3px;
width:480px;
}
#rosette { position:relative; left:750px; top:5px;
}
#html5-style-2content { background-color:transparent; border-left:10px white solid; border-right:10px white solid; border-bottom:10px white solid; width: 904px; 
margin-top: 82px; margin-left:auto; margin-right:auto; padding:8px; 
font-size:medium; color:maroon;
}
h2#html5-style-2h2 { font-size:x-large; color:white; margin:0 0 10px 0;
}
h3#html5-style-2h3 { font-size:large; color:white; margin:0 0 6px 0;
}
#html5-style-2leftcol { float:left; width: 310px; vertical-align:top;
}
#html5-style-2rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
#html5-style-2midcol { margin-left:315px; margin-right:145px; margin-top:10px; 
vertical-align:top;
}
/*set nav block position and width and remove the #menu item*/
nav#html5-style-2nav ul { margin:10px 0 10px 0; width:135px; float:right;
}
/*Set un-ordered list style within the menu block only. This removes bullets*/
nav#html5-style-2nav li { list-style-type:none;
}
/* set general side button styles */
nav#html5-style-2nav li.btn { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*/
nav#html5-style-2nav li.btn a { display: block; color: white; font-weight: bold; 
text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
nav#html5-style-2nav, li.btn a { background:#559a55; color: white; border: 5px outset #559a55; 
padding-bottom:3px;
}
/* mouseover */
nav#html5-style-2nav li.btn a:hover { background: red; color:white; border: 5px outset red;
}
/*mouse active*/
nav#html5-style-2nav li.btn a:active { background:maroon; border: 5px inset maroon;
}
br.clear { clear:both;
}
#html5-style-2midcol img { margin-left:10px;
}
/*change #footer to footer */
footer#html5-style-2footer { clear:both; color:maroon; text-align:center;
}
/*equalise for various browsers and change #header to header*/
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}


/*
div.row {
  
}
/*
nav#nav.data {
	padding: 5.3em 1.8em;
  border: 1px solid rgba(0,0,0,.1);
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 80%;
  line-height: 1.5;
  border-width: 10px;
  border-left-width: 0px;
}

}

input#mainNavButton.trigger {

}

label {

}

img.logo {

}

ul {

}

li {

}

div.col-12 {

}

h1#html5-style-2h1 {
    font-size: 150%;
    color: white;
    position: relative;
    left: 90px;
    top: -3px;
    width: 480px;

}
*/

div#html5-style-2content.data {
    background-color:transparent; 
    border-left:10px white solid; 
    border-right:10px white solid; 
    border-bottom:10px white solid; 
    width: 904px; 
    margin-top: 10px; 
    margin-left:auto; 
    margin-right:auto; 
    padding:8px; 
    font-size:medium; 
    color:maroon; 

}

button.cancel {
background-color: #c00;
}
button.ok {
background-color: #6b0;
}
hr {
height: .5em;
background: currentColor;
}
input, select, button { font: inherit; }

h2 {
    font-size: x-large;
    color: maroon;
    margin: 0 0 10px 0;

}

div#html5-ch1-7leftcol.data {

}

h3 {
    font-size: large;
    color: maroon;
    margin: 0 0 6px 0;

}

img {

}

br {

}

nav#html5-style-2nav.data {
    margin: 18px 50px 10px 0;
    width: 135px;
    float: right;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

div#html5-style-2midcol.data {
    margin-left: 315px;
    margin-right: 145px;
    margin-top: 20px;
    vertical-align: top;
}

#html5-style-2midcol.data img {
    margin-top: 10px;
}

div.footer {

}

div.company-details {

}

P.copyright {

}

P.distributor {

}

P.address {

}

P.telephone-number {

}

hr.full {

}

div#comment {

}

br {

}

textarea {

}

a.back-to-top.d-flex.align-items-center-justify-content-center.active {

}

section#chapter2 {

}

section#chapter3 {

}

p {
    color: #000;
    margin:auto; 
    text-align:center;

}

footer {
    clear: both;
    color: white;
    text-align: center;
}






/*add display attributes for the semantic tags*/
header,
footer,
section,
article,
nav {
  display: block;
}

h1 {
  font-size: 200%;
  color: white;
  position: relative;
  left: 90px;
  top: -11px;
  width: 715px;
}

#rosette {
  position: relative;
  left: 780px;
  top: -93px;
}

#content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}

h3 {
  font-size: large;
  color: maroon;
  margin: 0 0 6px 0;
}

#leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}

/*#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}*/
#midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 10px;
  vertical-align: top;
}

/*set nav block position and width*/
/*nav { margin:10px 30px 0 10px; width:135px; float:right; 
}*/
nav ul {
  margin: -3px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*/
nav li {
  list-style-type: none;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}

/* specify mouse state styles */
/* mouseout (default) *
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}

/* mouseover */
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}

/*mouse active*/
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}

br.clear {
  clear: both;
}

#midcol img {
  margin-left: 10px;
}

footer {
  clear: both;
  color: maroon;
  text-align: center;
}



/* style up a few of the new elements */
article, aside, figure,footer, header, hgroup, menu, nav, section { display: block;}
/*
body > header { background-color: #930; color: white;}
body > footer {border-top: solid 5px black; }
*/
h3 { font-variant: small-caps; }
p { margin-left: 1.5em; }
section { border-top: dashed 2px black; }
section > section h3 { margin-left: 2em; }
section > section p { margin-left: 3em; }
body > footer > p { text-align: right; font-style: italic; font-size: smaller;} 
			  

#navigation{
	float: right;
	width: 150px;
}
#intro{
	width: 902px;
}
/*
body {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	color: #3E3E3E;
	background: #94C5EB url(css-jq/images/background-grad.png) repeat-x;
	font-size: 12px;
}

p {
	padding: 5px;
}
*
a {
	color: #3687AF;
}

#container{
	margin:0 auto;
	text-align: left;
	width: 970px;
}

#header{
	height: 60px;
	color: #172322;
	background: transparent url(./css-jq/images/header-corners.png) no-repeat bottom left;
}

#header h1
{
	padding:0;
	margin:0;
}

#content{
	background-color: #fff;
	padding: 0 15px 10px 15px;

} 

#footer{
	background-color: #fff;
	padding:15px;
  clear: both;
}

table {
	border-collapse:collapse;
	font-size:12px;
	margin:0 20px 20px 20px;
	border-top:2px solid #015287;
	width:480px;
}

th {
	border-bottom: 2px solid #015287;
	color: #D15600;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	padding: 3px 8px;
}

td {
	padding: 6px;
}

 
/*
Listing 2-6b provides the CSS presentation instructions for a 3 column gallery set in a real world page. 
 CHAPTER 2 ■ A ROLLOVER PICTURE GALLERY 
/*set menu buttons*/

Listing 2-6b. The CSS Style Sheet for Listing 2-6a (gallery-page.css) 
*set attributes for consistent appearance in all browsers*/ 
html, body, p, ul, li, h1, h2 { margin:0; padding:0; 
} 
/*set images to have no borders*/ 
img { border:0; 
} 
/*add display attributes for the semantic tags*/ 
header, footer, section, article, nav { display:block; 
} 
/*SET FONTS*/ 
span.small { font-size:small; 
} 
h1#gallerypageh1 { font-size:x-large; font-family:"times new roman"; text-align:center; 
} 
h2#gallerypageh2 {font-size:large; font-family:"times new roman"; text-align:center; 
} 
/*PAGE LAYOUT*/ 
body {margin:auto; width:970px; 
} 
header#gallerypageheader { width:970px; 
} 
nav#gallerypagenav { float:left; margin-left:10px; width:115px; 
} 
nav#gallerypagenav ul { margin-left:0; border:0; width:115px; 
} 
/*set far right column for ads*/ 
#gallerypagerightcol { width:255px; float:right; text-align:center; 
} 
#gallerypagerightcol p.advert {font-size: 15px; margin-top:190px; 
} 
/*set middle column for main content*/ 
#gallerypagemidcol { margin-left:135px; margin-right:155px; 
} 
/*set gallery block position*/ 
#gallerypagegallery-block { position:relative; left: 30px; top:10px; 
} 
/*set footer*/ 
footer#gallerypagefooter { clear:both; color:black; text-align:center; width:970px; 
} 
.clear { clear:both; 
}
#gallerypage, li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px; margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px; 
} 
#gallerypage, li.btn a:hover { background-color:blue; color:white; 
} 
#gallerypage, li.btn { width:110px; 
} 
/*SET THUMBNAIL GALLERY BLOCK*/ 
/* Set general thumbnail styles */ 
#gallerypagecol-1 { position: absolute; top: 0; left: 0; width:85px; 
} 
/*place the first column on the page*/ 
#gallerypage, li { margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the -

MouseOut state (default) - create and position a space for the larger images and -

hide them*/ 
#gallerypagecol-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 330px; visibility: hidden; 
} 
/* MouseOver state (hover)- this reveals larger picture */ 
#gallerypagecol-1 a:hover { background: white; } 
#gallerypagecol-1 a:hover img.hid { visibility:visible; 
} 
/*----------------------------------------------------*/ 
/* set 2nd column of thumbnails 85px further over to right*/ 
#gallerypagecol-2 { position: absolute; top: 0; left: 85px; width:85px; 
} 
#gallerypage, li { margin: 5px; list-style-type:none; 
} 
/* MouseOut state (default) - hide larger picture */ 
#gallerypagecol-2 a img.hid { width: 260px; height:390px; -

position: absolute; top: 10px; left: 245px; margin-left:0;visibility: hidden; 
} 
/* MouseOver state (hover)- reveal larger picture */ 
#gallerypagecol-2 a:hover { background: white; } 
#gallerypagecol-2 a:hover img.hid { visibility:visible; } 
/*----------------------------------------------------*/ 
/* set 3rd column of thumbnails 170px further over to right*/ 
#gallerypagecol-3 { position: absolute; top: 0; left: 175px; width:95px; } 
#gallerypage, li { margin: 5px; list-style-type:none; 
} 
/* MouseOut state (default) - hide larger picture */ 
#gallerypagecol-3 a img.hid { width: 260px; height:390px; -

position: absolute; top: 10px; left: 155px; margin-left:0; visibility: hidden; 
} 
/* MouseOver state (hover)- reveal larger picture */ 
#gallerypagecol-3a:hover { background: white; 
} 

#gallerypagecol-3 a:hover img.hid { visibility:visible;













































