html.fa-events-icons-failed {
  
}

body {

}

div.wrapper {

}

div#container.data {

}

div.row {
  
}

nav#nav.data {

}

input#mainNavButton.trigger {

}

label {

}

img.logo {

}

ul {

}

li {

}

div.col12 {

}

header#html5-ch1-7header.data {

}

h1#html5-ch1-7h1 {

}

div#content {

}

h2 {

}

div#html5-ch1-7leftcol.data {

}

h3 {

}

img {

}

br {

}

nav#html5-ch1-7nav.data {

}

li.btn {

}

div#html5-ch1-7midcol.data {

}

div.footer {

}

div.company-details {

}

P.copyright {

}

P.distributor {

}

P.address {

}

P.telephone-number {

}

hr.full {

}

div#comment {

}

br {

}

textarea {

}

a.back-to-top.d-flex.align-items-center-justify-content-center.active {

}

section#chapter2 {

}

section#chapter3 {

}

p {

}

footer {

}


/*equalise for various browsers and change #header to header*/
div body header #content {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF url(images/green-grad.jpg) repeat-x;
  margin: auto;
}

/*add display attributes for the semantic tags*/
header,
footer,
section,
article,
nav {
  display: block;
}

/*remove the # from #header*/
header#html5-ch1-7header {
  width: 920px;
  height: 180px;
  padding: 0;
  border: 10px white solid;
  background: url(images/bda-20.jpg);
  margin: 10px auto;
}

h1 {
  font-size: 100%;
  color: white;
  position: relative;
  left: 90px;
  top: -3px;
  width: 480px;
}

#rosette {
  position: relative;
  left: 750px;
  top: 5px;
}

#content {
  background-color: transparent;
  border-left: 10px white solid;
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  width: 904px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: medium;
  color: maroon;
}

h3 {
  font-size: large;
  color: white;
  margin: 0 0 6px 0;
}

#leftcol {
  float: left;
  width: 310px;
  vertical-align: top;
}

/*#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}*/
#midcol {
  margin-left: 315px;
  margin-right: 145px;
  margin-top: 10px;
  vertical-align: top;
}

/*set nav block position and width*/
/*nav { margin:10px 30px 0 10px; width:135px; float:right; 
}*/
nav ul {
  margin: -240px 0 10px 0;
  width: 135px;
  float: right;
}

/*Set un-ordered list style within the menu block only. This removes bullets*/
nav li {
  list-style-type: none;
}

/* set general side button styles */
li.btn {
  margin-bottom: 3px;
  text-align: center;
  width: 130px;
}

/* set general anchor styles and include the zoom fix for IE6*/
li.btn a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  zoom: 1;
}

/* specify mouse state styles */
/* mouseout (default) */
li.btn a {
  background: #559a55;
  color: white;
  border: 5px outset #559a55;
  padding-bottom: 3px;
}

/* mouseover */
li.btn a:hover {
  background: red;
  color: white;
  border: 5px outset red;
}

/*mouse active*/
li.btn a:active {
  background: maroon;
  border: 5px inset maroon;
}

br.clear {
  clear: both;
}

#midcol img {
  margin-left: 10px;
}

footer {
  clear: both;
  color: maroon;
  text-align: center;
}



/* style up a few of the new elements */
article, aside, figure,footer, header, hgroup, menu, nav, section { display: block;}
body > header { background-color: #930; color: white;}
body > footer {border-top: solid 5px black; }

h3 { font-variant: small-caps; }
p { margin-left: 1.5em; }
section { border-top: dashed 2px black; }
section > section h3 { margin-left: 2em; }
section > section p { margin-left: 3em; }
body > footer > p { text-align: right; font-style: italic; font-size: smaller;} 
			  

#navigation{
	float: right;
	width: 150px;
}
#intro{
	width: 902px;
}

body {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	color: #3E3E3E;
	background: #94C5EB url(css-jq/images/background-grad.png) repeat-x;
	font-size: 12px;
}
/*
p {
	padding: 5px;
}
*/
a {
	color: #3687AF;
}

#container{
	margin:0 auto;
	text-align: left;
	width: 970px;
}

#header{
	height: 60px;
	color: #172322;
	background: transparent url(./css-jq/images/header-corners.png) no-repeat bottom left;
}

#header h1
{
	padding:0;
	margin:0;
}

#content{
	background-color: #fff;
	padding: 0 15px 10px 15px;

} 

#footer{
	background-color: #fff;
	padding:15px;
  clear: both;
}

table {
	border-collapse:collapse;
	font-size:12px;
	margin:0 20px 20px 20px;
	border-top:2px solid #015287;
	width:480px;
}

th {
	border-bottom: 2px solid #015287;
	color: #D15600;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	padding: 3px 8px;
}

td {
	padding: 6px;
}
