/*
Listing 4-1b. Applying the display:inline-block; Style to the Second Row of Buttons (inline-block.css)
*/
/* Set styles to equalise the browser rendition*/
html, body, h1, h2, h3, h4, h5, p, ol, ul, li { padding: 0; margin: 0;
}
body { font-size: 100%; font-weight: normal;
}
ul { padding-left: 0;}
/* end of style equalisation */
p { background:white; margin:auto; text-align:center;
}
div#container { margin:auto; text-align:center; width:97%; min-width:800px; 
max-width:1200px;
}
a { background: orange; color:navy;
}
.inline-block a { display:inline-block; width:110px; height:30px; 
line-height:30px; text-align:center;
}
/* set general anchor styles and include the zoom fix for IE6*/
li.btn a { display: block; color: white; font-weight: bold; 
text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
li.btn a { background:#559a55; color: white; border: 5px outset #559a55; 
padding-bottom:3px;
}
/* mouseover */
li.btn a:hover { background: red; color:white; border: 5px outset red;
}
/*mouse active*/
li.btn a:active { background:maroon; border: 5px inset maroon;
}
br.clear { clear:both;
}
#midcol img { margin-left:10px;
}
/*change #footer to footer */
footer { clear:both; color:maroon; text-align:center;
}
