/*set attributes for consistent appearance in all browsers*/
html, body, p, ul, li, h1, h2 {	margin:0; padding:0; 
}
/*set images to have no borders*/
img { 	border:0;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block; 
}
/*SET FONTS*/
span.small { font-size:small;
}
#gallerypagebanner h1 { 
    font-family:"times new roman"; 
	font-size:x-large; 
	color:white;  
	text-align:center;
	font-weight:bold; 
    text-align:center; 
	/*padding-top:30px; */
	margin-bottom:0px; 
	height: 42px; 
	margin:auto; 	  
    text-shadow: 0.1em 0.1em 0.2em blue; 
}/*
h2 {font-size:large; font-family:"times new roman"; text-align:center;color:maroon;
}

h1 { font-size:150%; color :white; position: relative; left:90px; top:15px; width:480px; font-family:"times new roman"; text-align:center;
}*
h2 {font-size:75%; font-family:"times new roman"; line-height:3.4rem; text-align:center;
}
/*PAGE LAYOUT*/
body {background:#FFF url(../images/green-grad.jpg) repeat-x; margin:auto; width:970px; 
}
header {
	width:970px;height:50px;border:10px solid white ; margin:10px auto; color:black; background-color:#FFCC00; background-position:35% top; background-image:url('../images/compbkgcrop.jpg'); background-repeat:no-repeat;
}
/*
nav { float:left; margin-left:10px; width:115px;
}
nav ul { margin-left:0; border:0; width:115px;
}
*/
nav { width:140px;
}
nav ul { width: 145px; float:left;margin-left:0; 
}
nav li { margin-bottom: 1px; text-align: center; list-style:none; padding-bottom:3px;
}
nav li a { display: block; color: yellow; font-weight: bold;
text-decoration: none; zoom:1; 
}
/* mouseout (default) */
nav li a { background: #946055;  border: 4px outset #c96e6b;
}
nav li a:hover { background: #9f7562; color:white;  border: 4px outset #c96e6b;
}
nav li a:active { background:#aecbff;  border: 4px inset #aecbff; 
}
/* set general inset button styles */
nav li.insetbtn { border:none;
}
nav li.insetbtn a { display: block; color:orange; font-weight: bold;
text-decoration: none; cursor:default; margin-bottom: 0; text-align: center; list-style:none;
padding-bottom:3px; background:#744035; border-top: 4px #5e2100 solid;
border-left: 4px #5e2100 solid; border-right:3px #bfa5a2 solid; border-bottom:3px #bfa5a2 solid;
}
/*set far right column for ads*/
#rightcol { width:250px; float:right; text-align:center;	
}
#rightcol p.advert {font-size:small; margin-top:30px;margin-left:0px;
} 
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/ 
#gallery-block { position:relative; left: -115px; top:190px; 
}
/*set footer*/
footer { 	clear:both; color:black; text-align:center; width:970px;
}
.clear { clear:both;
}
/*set menu buttons*/
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
}
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}


/* Logo 
#logo {float: right;margin: 0;padding: 0;color: #000000;}
#logo p {margin: 0;padding: 0;}*
#logo h1 { text-align:center; font-size:200%; color:navy; text-shadow: 0.1em 0.1em 0.2em white;text-transform: lowercase; letter-spacing: -1px; font-family:Arial; font-weight:bold; width:480px;position:absolute; top:39px; left:25%;}
/*#logo p {float: left;margin: 0;padding: 250px 0 0 10px;font: normal 14px Georgia, "Times New Roman", Times, serif;font-style: italic;color: #FFFFFF;}
#logo a {border: none;background: none;text-decoration: none;color: #FFFFFF;}
 
 h2 {font-size:100%;text-shadow: 0.1em 0.1em 0.2em black; width:160%;height:50px; color:orange; margin: 67px 0 0 -135%; font-family:"times new roman"; text-align:center;}
*/

#red {position:absolute; right:15px; top:14px; background-image:url('images/red-square.png'); width:160px; height:160px; z-index:3;}
#yellow { position:absolute; right: 120px; top:44px; background-image:url('images/yellow-square.png'); width:123px; height:125px; z-index:2;}
#white {position:absolute; right: 200px; top:61px; background-image:url('images/white-square.png'); width:105px; height:109px; z-index:1} 


/*
.inline-block a { display:inline-block;margin-top:2px; margin-bottom:2px;background-color:#0080a0;border-radius:25px;border:4px outset #df3694;border-left:4px outset #4d80ff; border-bottom:4px outset #80ff4d; border-right:4px outset #ffcb4d; border-top:4px outset #ff749c; width:14%; height:30px; line-height:30px;color:white; font-size:80%; text-decoration:none; padding:0 0px 0 0px; text-align:center;
}
 end of style equalisation */
p {  background-image: url("images/cheqflags.jpg"); background-attachment: fixed; margin:10px; text-align:center; 
}
/*
#container {width:960px;padding:10px; margin:20px auto 0 auto;}

#container {width:1850px; margin-left:-450px; padding:5px;
}
a { background: orange; color:navy;
}
.inline-block a { display:inline-block; width:200px; height:17px; line-height:20px; text-align:center;
}
#content { width:580px; height:700px; border: 2px navy solid; margin:-45px auto 5px auto;}
#mainpanel {width:100%;margin:auto; margin-bottom:0; padding-top:-60px;background:#bad0ff; text-align:center;}
#midpanel{margin-left:0px; margin-right:0px;margin-top:8%;padding:0 10px 10px 0; background:#bad0ff; color:navy;}
#midleft { width:45%;float:right; background:#bad0ff;}
#midleft li { text-align:left; margin:0 0 10px 10px; width:200px;  list-style-type:disc;}
#midright {	float:right; width:450px; text-align:left; background-color:rgba;(255,0,0,0.5);} 
/* bullets.css */
/* remove bullets *
nav ul { list-style:none;}
/* set vertical button menu position *
nav ul	{ float:left; margin-left:-100%; padding-left:0;margin-top:-65%;  list-style-type :none;}
nav li {height:35px; margin-top:10px;background-image:url(images/menu-bullet.gif); background-repeat:no-repeat;}
nav li a { color:white; font-size:80%; text-decoration:none; padding:0 5px 0 30px;}
/* end bullets.css */
/*set far right column for ads*
#rightcol { width:150px; position:absolute;left:82%; top:-40px; text-align:right;	}
#rightcol p.advert {font-size:small; margin-top:190px;} 
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;margin-top:-160px;vertical-align:top;}

/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles */
#col-1	{ position: absolute; top: -10px; left: -10px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 20px; left: 300px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white;}
#col-1 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-2	{ position: absolute; top: -10px; left: 30px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px;position: absolute; top: 15px; left: 260px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white;}
#col-2 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-3	{ position: absolute; top: -10px; left: 70px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid { width: 260px; height:390px;position: absolute; top: 16px; left: 220px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-3 a:hover { background: white;}
#col-3 a:hover img.hid { visibility:visible;}
/*-----------------------------------------------------*/
#col-4	{ position: absolute; top: 175px; left: -10px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-4 a img.hid { width: 260px; height:390px; position: absolute; top: 16px; left: 305px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-4 a:hover { background: white;}
#col-4 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-5	{ position: absolute; top: 175px; left: 30px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-5 a img.hid { width: 260px; height:390px;position: absolute; top: -160px; left: 260px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-5 a:hover { background: white;}
#col-5 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-6	{ position: absolute; top: 175px; left: 70px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-6 a img.hid { width: 260px; height:390px;position: absolute; top: -160px; left: 220px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-6 a:hover { background: white;}
#col-6 a:hover img.hid { visibility:visible;}
/*----------------------------------------------------*/
#col-7	{ position: absolute; top: 360px; left: -10px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-7 a img.hid { width: 260px; height:390px; position: absolute; top: -349px; left: 300px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-7 a:hover { background: white;}
#col-7 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-8	{ position: absolute; top: 360px; left: 30px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-8 a img.hid { width: 260px; height:390px;position: absolute; top: -349px; left: 260px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-8 a:hover { background: white;}
#col-8 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-9	{ position: absolute; top: 360px; left: 70px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-9 a img.hid { width: 260px; height:390px;position: absolute; top: -349px; left: 220px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-9 a:hover { background: white;}
#col-9 a:hover img.hid { visibility:visible;}
/*-----------------------------------------------------*/
#col-10	{ position: absolute; top: -10px; left: 110px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-10 a img.hid { width: 260px; height:390px; position: absolute; top: 20px; left: 180px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-10 a:hover { background: white;}
#col-10 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-11	{ position: absolute; top: -10px; left: 150px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-11 a img.hid { width: 260px; height:390px;position: absolute; top: 20px; left: 140px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-11 a:hover { background: white;}
#col-11 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-12	{ position: absolute; top: -10px; left: 190px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-12 a img.hid { width: 260px; height:390px;position: absolute; top: 20px; left: 100px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-12 a:hover { background: white;}
#col-12 a:hover img.hid { visibility:visible;}


#col-13	{ position: absolute; top:175px; left: 110px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-13 a img.hid { width: 260px; height:390px; position: absolute; top: -160px; left: 180px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-13 a:hover { background: white;}
#col-13 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-14	{ position: absolute; top: 175px; left: 150px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-14 a img.hid { width: 260px; height:390px;position: absolute; top: -160px; left: 140px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-14 a:hover { background: white;}
#col-14 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-15	{ position: absolute; top:175px; left: 190px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-15 a img.hid { width: 260px; height:390px;position: absolute; top: -163px; left: 100px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-15 a:hover { background: white;}
#col-15 a:hover img.hid { visibility:visible;}
/*-----------------------------------------------------*/
#col-16	{ position: absolute; top: 360px; left: 110px; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-16 a img.hid { width: 260px; height:390px; position: absolute; top: -220px; left: 255px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-16 a:hover { background: white;}
#col-16 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-17	{ position: absolute; top: 360px; left: 150px; width:85px;}
li	{margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-17 a img.hid { width: 260px; height:390px;position: absolute; top: -220px; left: 173px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-17 a:hover { background: white;}
#col-17 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-18	{ position: absolute; top: 360px; left: 190px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-18 a img.hid { width: 260px; height:390px;position: absolute; top: -290px; left: 100px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-18 a:hover { background: white;}
#col-18 a:hover img.hid { visibility:visible;}
/*----------------------------------------------------*/
#col-19	{ position: absolute; top: 370px; left: 0; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-19 a img.hid { width: 260px; height:390px; position: absolute; top: 3px; left: 255px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-19 a:hover { background: white;}
#col-19 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-20	{ position: absolute; top: 370px; left: 40px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-20 a img.hid { width: 900px; height:400px;position: absolute; top: 3px; left: 173px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-20 a:hover { background: white;}
#col-20 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-21	{ position: absolute; top: 370px; left: 80px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-21 a img.hid { width: 900px; height:400px;position: absolute; top: 3px; left: 100px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-21 a:hover { background: white;}
#col-21 a:hover img.hid { visibility:visible;}
/*-----------------------------------------------------*/
#col-22	{ position: absolute; top: 370px; left: 0; width:85px;} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none;} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-22 a img.hid { width: 900px; height:400px; position: absolute; top: -220px; left: 255px;visibility: hidden;}
/* MouseOver state (hover)- this reveals larger picture */
#col-22 a:hover { background: white;}
#col-22 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-23	{ position: absolute; top: 370px; left: 40px; width:85px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-23 a img.hid { width: 900px; height:400px;position: absolute; top: -220px; left: 173px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-23 a:hover { background: white;}
#col-23 a:hover img.hid { visibility:visible;}

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-24	{ position: absolute; top: 370px; left: 80px; width:95px;}
li	{ margin: 5px; list-style-type:none;}
/* MouseOut state (default) - hide larger picture */
#col-24 a img.hid { width: 900px; height:400px;position: absolute; top: -290px; left: 100px; margin-left:0;visibility: hidden;}
/* MouseOver state (hover)- reveal larger picture */
#col-24 a:hover { background: white;}
#col-24 a:hover img.hid { visibility:visible;}

#example {width:100%; height:482px; padding-bottom: 0px; margin:auto;background: url(images/safe_image.gif) no-repeat 99% 26%,url(images/clipbrd.gif) no-repeat 79% 14%,url(images/blugrad500.jpg) repeat-x;}
/* Slidingdrnav-Navigation *
#slidingdrnav { height:39px; border-bottom: 2px solid #506BB1; margin: auto; margin-top:0px; width: 900px;}
#slidingdrnav ul { margin-left:10%;}
#slidingdrnav li {background-color:#0080a0;border:4px outset #df3694;border-left:4px outset #4d80ff; border-bottom:4px outset #80ff4d; border-right:4px outset #ffcb4d; border-top:4px outset #ff749c; border-radius: 25px; color:white; border-bottom: 2px solid #506BB1; list-style: none; float: left;background: #FFF url(images/right_side.png) no-repeat right top; margin-top: -29px;height: 23px;}
#slidingdrnav a { display: block; padding: 7px 15px 4px 15px; background-image: url(images/left_side.png); background-repeat: no-repeat;background-position: left top; text-align: center; text-decoration: none; color: #FFF; font-weight: bold;font-size: 80%; text-transform: uppercase;}
#slidingdrnav a:hover { color:yellow;}
#active { border-bottom: none; color:navy; list-style: none; float: left;background: #FFF url(images/right_side-pale.png); background-repeat:no-repeat; background-position: right top; margin-right:  5px; height:23px;}
#active a { display: block; border-bottom:none; padding: 7px 15px 4px 15px;background: url(images/left_side-pale.png); background-repeat: no-repeat;background-position: left top; text-align: center; text-decoration: none;color: orange; font-weight: bold;font-size: 80%; text-transform: uppercase;height: 23px;}
/* set general side button styles *
nav li { width:115px; line-height:20px; margin-bottom: 2px; text-align: center;  }
/* set general anchor styles *
nav li a	{ display: block; width:90px; color: white;  font-family:arial; font-size: 70%; font-weight:bold; text-decoration: none }
/* specify state styles */
/* mouseout (default) *
nav li a { background: #1A9CE0;  border: 4px outset #AABAFF;}
/* mouseover *
nav li a:hover	{ display:block; background: #0A4ADF; border: 4px outset #8ABAFF; width:90px;}
/* onmousedown *
nav li a:active { background:#AECBFF; border: 4px inset #AECBFF; }
*/
br.clear { clear:both
}
.lft { text-align:left;
}
.cntr { text-align:center;position:relative; left:70px;
}
footer a:link {color: navy; text-decoration:none;font-weight:bold; font-size:80%;}
footer a:visited {color: blue; text-decoration: none; }
footer a:active {color: navy; text-decoration: none; }
footer a:hover {color: red;text-decoration: none; }

/* Page */
#page { width: 100%; margin: 0 auto; padding: 0px 0px 0px 40px;
	background: url(images/img03.gif) repeat-y left top;
}
#page-bgtop { padding: 20px 0px;
}
/* Content *
#content { float: left; width: 580px; padding: 30px 0px 0px 0px;
}


