@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

/*set attributes for consistent appearance in all browsers*/
div.wrapper { 
    position: relative;
    top: 0.2em;
    left: 1.4%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left-width: 0 !important;
    border-width: 10px;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    font-size: 100%;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    line-height: 1.5;
    margin: 0 auto;
	padding: .3em .8em;	 
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    width: 970px;
    background: #58a linear-gradient(#FF9966, #58a);

    clip-path:polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px), 0 20px);
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}

div.picture {
width: 200px;
transform: rotate(45deg);
overflow: hidden;
}
div.picture > img {
max-width: 100%;
transform: rotate(-45deg);
}


.parallel {
position: relative;
/* text color, paddings, etc. */
display: inline-block;
border-radius: .2em;
color: white;
text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
font-size: 80%;
line-height: 1.5;
border-width: 10px;
border-left-width: 0;
}
.parallel::before {
content: ''; /* To generate the box */
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -1;
background: maroon;
transform: skew(45deg);
}
.parallel>div {
transform: skewX(45deg);
}
/*set far right column for ads*/
div#rightcol { position: relative; top: -26em; left: 0em; width:150px; float:right; text-align:center;
}
div#rightcol p.advert {font-size:small; margin-top:35px;
}
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/
#gallery-block { position:relative; left: 30px; top:10px;
}


/*set menu buttons*/
li.btn a {
    display: block;
    background-color: #66CCFF;
    color: black;
    font-weight: bold;
    padding: 4px;
    margin-left: 0;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    width: 110px;
}

li.btn a:hover {
    background-color: blue;
    color: white;
}

li.btn {
    width: 110px;
}

header, footer, section, article, nav { display:block; 
}
body { background-color:#bbFFaa; color:black; font-family:Arial;
	margin: auto;
}

#container { width:97%; margin:auto; min-width:800px; max-width:1100px; 
}
header {background-image:url("images/panew.jpg"); background-repeat:no-repeat; height:190px; background-position:top left;
}
nav ul  {padding-top:230px;padding:0;list-style-type:none; margin:auto; 
display:block;height:36px; text-transform:uppercase;
font-size:100%;font-weight:bold;
background:url('images/bgOFF.gif') repeat-x left top;
font-family:Helvetica,Arial,Verdana,sans-serif;
border-bottom:4px solid #336666; border-top:1px solid #C0E2D4;
position:relative;	top: 92px; left: 0;
}
nav ul  li { display:block;float:left;margin:0;padding:0;
}
nav ul  li a { display:block; float:left;color:#874B46;
text-decoration:none;padding:12px 20px 0 20px;height:24px;
background:transparent url("images/bgDIVIDER.gif") no-repeat top right; 
}
nav ul  li a:hover{ background:transparent url("images/bgHOVER.gif") no-repeat top right; 
}
nav ul  li a.current,ul#main-menu li a.current:hover { color:#fff;
background:transparent url("images/bgON.gif") no-repeat top right; 
}
#main-content {
    text-align: center;
    color: black;
    margin-top: 9px;
    border-bottom: 4px solid #336666;
    border-left: 4px solid #336666;
    border-right: 4px solid #336666;
    border-top: none;
}

#left-col { float:left; width: 180px; 
}
#right-col { float:right; width:180px;
}
#mid-col { margin-left:185px; margin-right:185px;
}
h1 {font-family:Arial; font-size:125%; padding-top:60px; padding-left:60px; margin-top:0; margin-bottom:0; color:white;
}
h2 { font-size:150%; margin-top:0; margin-bottom:5px; color:black;
}
br .clear {	clear:both;
}
